.contacts-form {
  @include media(tablet, up) {
    display: grid;
    grid-template-columns: minmax(auto, 330px) auto;
    gap: 115px;
  }

  &__info {
    @include media(tablet, only) {
      display: grid;
      grid-template-columns: minmax(auto, 250px) minmax(auto, 330px);
      grid-gap: 42px;
    }
  }

  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 32px;
    color: $color-black-87;

    @include media(tablet, only) {
      grid-column: -1 / 1;
    }

    @include media(mobile) {
      font-size: 20px;
      line-height: 24px;
    }

    + * {
      margin-top: 73px;

      @include media(mobile) {
        margin-top: 47px !important;
      }
    }
  }

  &__text {
    display: block;
    margin: 50px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;

    @include media(tablet, only) {
      margin-top: 0;
    }

    @include media(mobile) {
      margin-top: 28px;
      font-size: 14px;
      line-height: 17px;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__form {
    @include media(tablet) {
      margin-top: 47px;
    }
  }

  &__form-group {
    display: grid;
    align-items: center;
    grid-gap: 65px;

    @include media(tablet, up) {
      grid-template-columns: 315px 285px;
    }

    @include media(tablet, only) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media(mobile) {
      grid-template-columns: 1fr;
      grid-gap: 25px;
    }
  }

  &__form-container {
    > * + * {
      margin-top: 22px;

      @include media(mobile) {
        margin-top: 25px;
      }
    }
  }

  &__form-submit {
    @include media(mobile) {
      margin-top: 40px;
    }
  }

  &__form-btn {
    display: block;
    width: 100%;
    margin: 0;
    padding: 12px 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    border: 1px solid;
    border-radius: 6px;
    @include transition;
    text-transform: uppercase;

    @include media(mobile) {
      padding: 6px 10px;
      font-size: 14px;
    }

    &:hover {
      color: $color-white;
      background-color: $color-primary;
      border-color: $color-primary;
    }
  }

  .form-field__label {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    + * {
      margin-top: 11px;
    }
  }
}
