.contacts-page {
  &__item {
    border-top: 1px solid $color-black-34;

    @include media(mobile, up) {
      padding: 93px 0;
    }

    @include media(mobile) {
      padding: 76px 0;
    }

    &:first-child {
      padding-top: 0;
      border-top: unset;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__container {
    @include media(tablet, up) {
      padding-bottom: 20px;
    }
  }
}
