.home-announcements {
  height: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;

    @include media(tabletSmall, only) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px 40px;
      grid-template-areas: 'item-1 item-2' 'item-1 form';
    }
  }

  &__item {
    padding: 21px 0 45px;
    border-top: 1px solid $color-black-34;

    @include media(tabletSmall, only) {
      border-top: unset;
      padding: 0;
    }

    &:first-child {
      padding-top: 0;
      border-top: unset;

      @include media(tabletSmall, only) {
        grid-area: item-1;
        padding-right: 40px;
        border-right: 1px solid $color-black-34;
      }
    }

    &:nth-child(2) {
      @include media(tabletSmall, only) {
        grid-area: item-2;
      }
    }
  }

  &__form {
    margin-top: auto;

    @include media(tabletSmall, only) {
      grid-area: form;
    }
  }
}
