.home-partners {
  position: relative;

  @include media(tablet) {
    padding: 0 36px + 17px;
  }

  @include media(mobile) {
    padding: 0 24px + 17px;
  }

  &__nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    z-index: 0;
    transform: translateY(-50%);

    @include media(tablet, up) {
      margin: 0 -72px;
    }

    @include media(tablet) {

    }
  }

  &__slide {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;

    @include media(tablet) {
      max-height: 135px;
    }

    @include media(mobile) {
      max-height: 104px;
    }
  }

  &__slider-link {
    display: flex;
    align-items: center;

    &:hover {
      .home-partners__img {
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }

  &__img {
    width: auto;
    height: auto;
    max-height: 175px;
    object-fit: contain;
    filter: grayscale(100%);
    opacity: 0.44;
    @include transition;

    @include media(tablet) {
      max-height: 135px;
    }

    @include media(mobile) {
      max-height: 104px;
    }
  }

  .slider-nav__btn--prev {
    @include media(tablet) {
      transform: scale(0.75) translateX(-25%);
    }

    @include media(tablet) {
      transform: scale(0.5) translateX(-50%);
    }
  }
  .slider-nav__btn--next {
    @include media(tablet) {
      transform: scale(0.75) translateX(25%);
    }

    @include media(tablet) {
      transform: scale(0.5) translateX(50%);
    }
  }
}
