.home-hero {
  position: relative;
  max-width: 100vw;
  overflow: hidden;

  &__nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 65px;
    z-index: 1;

    > * {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__nav-btn {
    display: flex;
    align-items: center;
    margin-left: 34px;
    min-width: 51px;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      .home-hero__nav-icon--prev {
        left: 10px;
      }
      .home-hero__nav-icon--next {
        left: 10px;
      }
    }
  }

  &__nav-icon {
    position: relative;
    display: flex;
    align-items: center;
    @include transition;

    &--prev {
      justify-content: flex-start;

      &::after {
        @include sprite('slick-left');
      }
    }

    &--next {
      justify-content: flex-end;

      &::after {
        @include sprite('slick-right');
      }
    }

    &::after {
      content: '';
      display: block;
    }
  }
}
