.news-single {
  @include media(tabletSmall) {
    display: flex;
    flex-direction: column;
  }

  .container {
    @include media(mobile, up) {
      margin-bottom: 100px;
    }
  }

  &__container {
    @include media(mobile) {
      margin-bottom: 100px;
    }

    > * + * {
      margin-top: 35px;
    }
  }

  &__preview {
    position: relative;

    @include media(tabletSmall, only) {
      margin: 0 -#{$tabletGutter};
    }

    @include media(mobile) {
      margin: 0 -#{$mobileGutter};
    }

    &::after {
      content: '';
      display: block;
      padding-top: 50.55%;
    }

    img {
      @include fill;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__static {
    margin-top: 35px;
    padding-bottom: 65px;

    @include media(tablet) {
      margin-top: 30px;
    }

    @include media(mobile) {
      margin-top: 40px;
    }
  }

  .page-single__section {
    margin-top: 0;
    padding-top: 44px;

    @include media(mobile) {
      padding-top: 16px;
    }
  }
}
