.sidebar-video {
  &__link {
    display: block;

    &:hover {
      .sidebar-video__bg {
        &::before {
          transform: translate(-50%, -50%) scale(1.1);
        }

        &::after {
          opacity: 0;
        }
      }

      .sidebar-video__label {
        text-decoration: unset;
      }
    }
  }

  &__bg {
    position: relative;
    display: block;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      content: '';
      @include sprite('youtube');
      transform: translate(-50%, -50%);
      @include transition;
    }

    &::after {
      position: relative;
      z-index: 1;
      content: '';
      display: block;
      padding-top: 56%;
      background: linear-gradient(0deg, rgba(40, 40, 40, 0.3), rgba(40, 40, 40, 0.3));
      @include transition;
    }

    img {
      @include fill;
      z-index: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__label {
    display: block;
    margin: 23px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 19px;
    text-decoration-line: underline;
    color: $color-black-87;
  }

  + .sidebar-video {
    margin-top: 46px;
  }
}
