.sidebar-text {
  p,
  time {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: $color-black-87;

    @include media(mobile) {
      font-size: 14px;
    }
  }

  a {
    font-style: normal;
    font-weight: normal;
    //font-size: 20px;
    //line-height: 23px;
    text-decoration-line: underline;

    &:hover {
      color: $color-primary;
      text-decoration: none;
    }
  }
}
