.sidebar-item {
  &__title {
    display: flex;
    align-items: center;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: $color-black-75;

    &::before {
      flex: 0 0 22px;
      content: '';
      margin-right: 5px;
    }

    &--date {
      &::before {
        @include sprite('date');
      }
    }

    &--location {
      &::before {
        @include sprite('location');
      }
    }

    &--video {
      &::before {
        @include sprite('video');
      }
    }

    &--views {
      &::before {
        @include sprite('views');
      }
    }
  }

  &__content {
    margin-top: 14px;
    padding-left: 27px;
  }
}
