.contacts-card {
  display: grid;
  grid-template-columns: minmax(auto, 345px) minmax(auto, 245px) 1fr;
  grid-gap: 100px;

  &__text {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

    a {
      display: flex;
      align-items: baseline;
      margin-top: 8px;

      &:first-child {
        margin-top: 0;
      }

      &:hover {
        color: $color-primary;
      }

      &[href^="tel:"] {
        &:before {
          content: '';
          display: block;
          margin-right: 11px;
          @include sprite('phone')
        }
      }

      &[href^="mailto:"] {
        font-weight: bold;

        &:before {
          content: '';
          display: block;
          margin-right: 11px;
          @include sprite('mail')
        }
      }
    }
  }
}
