.contacts-card {
  display: grid;

  @include media(tablet, up) {
    grid-template-columns: minmax(100px, 345px) minmax(100px, 245px) 1fr;
    grid-gap: 100px;
  }

  @include media(tablet, only) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
  }

  @include media(mobile) {
    grid-template-columns: 1fr;
    grid-gap: 47px;
  }

  &__text {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

    @include media(tablet) {
      font-size: 17px;
      line-height: 20px;
    }

    a {
      display: flex;
      align-items: baseline;
      margin-top: 8px;

      @include media(mobile) {
        align-items: center;
      }

      &:first-child {
        margin-top: 0;
      }

      &:hover {
        color: $color-primary;
      }

      &[href^="tel:"] {
        &:before {
          content: '';
          display: block;
          margin-right: 11px;
          @include sprite('phone');

          @include media(mobile) {
            transform: scale(0.75);
          }
        }
      }

      &[href^="mailto:"] {
        font-weight: bold;

        &:before {
          content: '';
          display: block;
          margin-right: 11px;
          @include sprite('mail');

          @include media(mobile) {
            transform: scale(0.8);
          }
        }
      }
    }
  }
}
