.photos-card {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;

  &:hover {
    .photos-card__caption {
      opacity: initial;
      pointer-events: auto;
    }
  }

  img {
    flex: 0 1 auto;
    display: block;
    height: 100%;
    width: auto;
    max-height: 260px;
  }

  &__caption {
    position: absolute;
    top: calc(100% + 10px);
    min-width: 250px;
    padding: 7px 27px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    background-color: #D7D7D7;
    opacity: 0;
    pointer-events: none;
  }
}
