.photos-card {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;

  &:hover {
    .photos-card__caption {
      opacity: initial;
      pointer-events: auto;
    }
  }

  &__link {
    @include media(mobile) {
      display: block;
      width: 100%;
    }

    img {
      @include media(mobile) {
        display: block;
        width: 100%;
      }
    }
  }

  &__image {
    flex: 0 1 auto;
    display: block;
    width: auto;

    @include media(mobile, up) {
      height: 260px;
    }

    @include media(mobile) {
      height: 190px;
    }
  }

  &__caption {
    position: absolute;
    top: calc(100% + 10px);
    min-width: 250px;
    padding: 7px 27px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    background-color: #D7D7D7;
    opacity: 0;
    pointer-events: none;
  }

  &__caption-author {
    display: block;
  }

  &__caption-text {
    display: block;
    font-weight: bold;
  }
}
