.projects-card {
  position: relative;
  display: grid;

  @include media(mobile, up) {
    grid-template-columns: minmax(auto, 381px) 1fr;
    grid-template-areas:
      'img ...'
      'img title'
      'img date'
      'img text'
      'img ...';
    grid-gap: 14px 95px;
    align-items: center;
  }

  @include media(tablet, only) {
    grid-template-columns: minmax(auto, 270px) 1fr;
    grid-gap: 9px 36px;
  }

  @include media(tabletSmall, only) {
    grid-template-columns: minmax(auto, 215px) 1fr;
  }

  @include media(mobile) {
    grid-template-columns: 1fr;
    grid-template-areas: 'img' 'title' 'date' 'text';
    grid-gap: 14px;
  }

  &__link {
    @include fill;
    z-index: 0;
  }

  &__image {
    grid-area: img;
    overflow: hidden;

    @include media(mobile) {
      padding-bottom: 20px;
    }

    img {
      @include fill;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 250ms linear;
    }
  }

  &__image-link {
    position: relative;
    z-index: 0;
    display: block;

    &::after {
      content: '';
      display: block;
      padding-top: 63.25%;
    }

    &:hover {
      cursor: pointer;

      img {
        transform: scale(1.05);
      }
    }
  }

  &__title {
    grid-area: title;
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    color: $color-black-87;

    @include media(tablet) {
      font-size: 17px;
      line-height: 20px;
    }

    a {
      position: relative;
      z-index: 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__date {
    grid-area: date;
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: $color-black-54;

    @include media(tablet) {
      font-size: 14px;
    }
  }

  &__text {
    grid-area: text;
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: $color-black-60;
    @include transition;

    @include media(tablet) {
      font-size: 14px;
    }

    a {
      position: relative;
      z-index: 0;

      &:hover {
        color: $color-primary;
      }
    }
  }
}
