@-ms-viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

.container {
  width: $desktopWidth + $desktopGutter * 2;
  max-width: 100%;
  margin: 0 auto;

  @include media(tablet, up) {
    padding: 0 $desktopGutter;
  }

  @include media(tablet, only) {
    padding: 0 $tabletGutter;
  }

  @include media(mobile) {
    padding: 0 $mobileGutter;
  }
}
