<div class="announcements-item">
  <div class="announcements-item__date"><time datetime="20-12-2020">{{time}}</time></div>
  <h3 class="announcements-item__title">{{{title}}}</h3>
  <p class="announcements-item__text">{{text}}</p>
  <div class="announcements-item__action">
    <a href="#" class="announcements-item__link">Подробнее</a>
  </div>
</div>
