<article class="exposition-card">
  <a class="exposition-card__link" href="#"></a>
  <div class="exposition-card__image">
    {{>components/image img=(concat 'expositions/category/0' exp-cat-img) ext="jpg"}}
  </div>
  <h3 class="exposition-card__title">{{exp-cat-title}}</h3>
  <div class="exposition-card__date">
    <time datetime="12-12-2020">{{exp-cat-time}}</time>
  </div>
  <p class="exposition-card__text">{{exp-cat-text}}</p>
</article>
