<article class="news-card">
  <div class="news-card__image">
    <a class="news-card__image-link" href="#">{{>components/image img=(concat 'news/cards/' img) ext="jpg"}}</a>
  </div>
  <span class="news-card__category"><a href="#">{{category}}</a></span>
  <h2 class="news-card__title"><a href="#">{{title}}</a></h2>
  <p class="news-card__date">
    <time datetime="20-12-2020">{{time}}</time>
  </p>
</article>
