<div class="projects-item">
  <div class="projects-item__image">
    <a href="#">
      {{>components/image img=(concat 'home/projects/' img) ext="jpg"}}
    </a>
  </div>
  <span class="projects-item__category">{{category}}</span>
  <span class="projects-item__title"><a href="#">{{title}}</a></span>
</div>
