<div class="sidebar-item">
  <div class="sidebar-item__header">
    <h3 class="sidebar-item__title sidebar-item__title--{{icon}}">{{title}}</h3>
  </div>
  {{#if @partial-block}}
    <div class="sidebar-item__content">
      {{>@partial-block}}
    </div>
  {{/if}}
</div>
