<div class="sidebar-video">
  <a href="{{href}}" class="sidebar-video__link js-video-link" data-youtube-id="{{dataset}}">
    <span class="sidebar-video__bg">
      {{>components/image img=(concat 'sidebar/video/' img) ext="jpg"}}
    </span>
    <span class="sidebar-video__label">{{label}}</span>
  </a>
</div>
