<form>
  <div class="form-subscribe{{#if mode}} form-subscribe--{{mode}}{{/if}}">
    {{#> ui/field label="Подпишитесь на рассылку объявлений:" id="email_01"}}
      {{> ui/input id="email_01" placeholder="Ваш e-mail адрес" class="input-white" submit=1}}
    {{/ui/field}}
  </div>
</form>
