{{#if footer}}
  <div class="main-menu main-menu--footer">
    <ul class="main-menu__list">
      <li><a href="#">О союзе</a></li>
      <li><a href="#">Наши проекты</a></li>
      <li><a href="#">Выставки</a></li>
      <li><a href="#">Новости</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
  </div>
{{else}}
  <div class="main-menu">
    <ul class="main-menu__list">
      <li><a href="#">О союзе</a></li>
      <li><a href="#">Наши проекты</a></li>
      <li><a href="#">Выставки</a></li>
      <li><a href="#">Новости</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
  </div>
{{/if}}
