{{#if footer}}
  <div class="main-menu main-menu--footer">
    <ul class="main-menu__list">
      <li class="main-menu__item"><a class="main-menu__link" href="about.html">О союзе</a></li>
      <li class="main-menu__item"><a class="main-menu__link" href="projects.html">Наши проекты</a></li>
      <li class="main-menu__item"><a class="main-menu__link" href="expositions.html">Выставки</a></li>
      <li class="main-menu__item"><a class="main-menu__link" href="news.html">Новости</a></li>
      <li class="main-menu__item"><a class="main-menu__link" href="contacts.html">Контакты</a></li>
    </ul>
  </div>
{{else}}
  <div class="main-menu main-menu--header">
    <nav>
      <ul class="main-menu__list">
        <li class="main-menu__item"><a class="main-menu__link{{#ifCond activeLink 'about'}} main-menu__link--current{{/ifCond}}" href="about.html">О союзе</a></li>
        <li class="main-menu__item main-menu__item--nested">
          <a class="main-menu__link js-header__menu-link{{#ifCond activeLink 'projects'}} main-menu__link--current{{/ifCond}}" href="projects.html">Наши проекты</a>
          {{>ui/svg name="chevron-right"}}
          <div class="main-menu__submenu">
            <div class="main-submenu">
              <ul class="main-submenu__list">
                <li class="main-submenu__item"><a class="main-submenu__link" href="#">Акции</a></li>
                <li class="main-submenu__item"><a class="main-submenu__link" href="#">КПД</a></li>
                <li class="main-submenu__item main-submenu__item--nested">
                  <a class="main-submenu__link" href="#">Пленэры</a>
                  {{>ui/svg name="chevron-right"}}
                  <div class="main-submenu__menu">
                    <div class="main-submenu">
                      <ul class="main-submenu__list">
                        <li class="main-submenu__item">
                          <a class="main-submenu__link" href="#">III Международный арт-пленэр «ART-UGRA 2020»</a>
                        </li>
                        <li class="main-submenu__item">
                          <a class="main-submenu__link" href="#">Межрегиональный пленэр «Югорская академичка»</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="main-submenu__item"><a class="main-submenu__link" href="#">Издания союза</a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="main-menu__item"><a class="main-menu__link{{#ifCond activeLink 'expositions'}} main-menu__link--current{{/ifCond}}" href="expositions.html">Выставки</a></li>
        <li class="main-menu__item"><a class="main-menu__link{{#ifCond activeLink 'news'}} main-menu__link--current{{/ifCond}}" href="news.html">Новости</a></li>
        <li class="main-menu__item"><a class="main-menu__link{{#ifCond activeLink 'contacts'}} main-menu__link--current{{/ifCond}}" href="contacts.html">Контакты</a></li>
      </ul>
    </nav>
  </div>
{{/if}}
