<div class="main-contacts">
  <p class="main-contacts__item">
    {{>ui/svg name="mail"}}
    <span><b>E-mail:</b> <a href="mailto:shrugra2020@mail.ru">shrugra2020@mail.ru</a></span>
  </p>
  <p class="main-contacts__item">
    {{>ui/svg name="phone"}}
    <span><b>Тел.:</b> <a href="tel:+79044805860">+7 (904) 480-58-60</a></span>
  </p>
</div>
