<div class="main-contacts">
  <a class="main-contacts__item" href="mailto:shrugra2020@mail.ru">
    {{>ui/svg name="mail"}}
    <span><b>e-mail:</b> shrugra2020@mail.ru</span>
  </a>
  <a class="main-contacts__item" href="tel:+79044805860">
    {{>ui/svg name="phone"}}
    <span><b>тел.:</b> +7 (904) 480-58-60</span>
  </a>
  <div class="main-contacts__item">
    {{>ui/svg name="location"}}
    <p><b>Адрес:</b> 628012, г. Ханты-Мансийск ул. Коминтерна, 6, офис 116.</p>
  </div>
</div>
