<div class="page-pagination">
  <ul class="page-pagination__list">
    <li><a class="page-pagination__item page-pagination__item--current" href="#">1</a></li>
    <li><a class="page-pagination__item" href="#">2</a></li>
    <li><a class="page-pagination__item" href="#">3</a></li>
    <li><span class="page-pagination__item">...</span></li>
  </ul>
</div>
