<aside class="page-sidebar js-page-sidebar">
  <div class="page-sidebar__content js-page-sidebar__content">
    {{#if related}}
      <div class="page-sidebar__item page-sidebar__item--related">
        <a class="page-sidebar__link" href="#">{{>icons/arrow-left big=1}}</a>
        <a class="page-sidebar__link" href="#">{{>icons/arrow-right big=1}}</a>
      </div>
    {{/if}}
    {{#if period}}
      <div class="page-sidebar__item">
        {{#>widgets/sidebar-item title="Дата:" icon="date"}}
          {{#>widgets/sidebar-text}}
            <p>4 декабря – 31 декабря 2020</p>
          {{/widgets/sidebar-text}}
        {{/widgets/sidebar-item}}
      </div>
    {{/if}}
    {{#if period-ex}}
      <div class="page-sidebar__item">
        {{#>widgets/sidebar-item title="Дата:" icon="date"}}
          {{#>widgets/sidebar-text}}
            <p>4 декабря – 31 декабря 2020</p>
          {{/widgets/sidebar-text}}
        {{/widgets/sidebar-item}}
      </div>
    {{/if}}
    {{#if location}}
      <div class="page-sidebar__item">
        {{#>widgets/sidebar-item title="Адрес:" icon="location"}}
          {{#>widgets/sidebar-text}}
            <p></p>
          {{/widgets/sidebar-text}}
        {{/widgets/sidebar-item}}
      </div>
    {{/if}}
    {{#if location-ex}}
      <div class="page-sidebar__item">
        {{#>widgets/sidebar-item title="Место проведения:" icon="location"}}
          {{#>widgets/sidebar-text}}
            <p>БУ ХМАО-Югры «Государственный художественный музей» (г. Ханты-Мансиск, ул. Мира, 2)</p>
          {{/widgets/sidebar-text}}
        {{/widgets/sidebar-item}}
      </div>
    {{/if}}
    {{#if video}}
      <div class="page-sidebar__item">
        {{#>widgets/sidebar-item title="Видео материалы:" icon="video"}}
          {{>widgets/sidebar-video label="Интервью для ТРК Югра 2018" url="https://www.youtube.com/embed/mJ3MB7ISUlM"}}
        {{/widgets/sidebar-item}}
      </div>
    {{/if}}
    {{#if pubdate}}
      <div class="page-sidebar__item">
        {{#>widgets/sidebar-item title="Дата публикации:" icon="date"}}
          {{#>widgets/sidebar-text views="307"}}
            <time datetime="04-12-2020">04.12.2020 г.</time>
          {{/widgets/sidebar-text}}
        {{/widgets/sidebar-item}}
      </div>
    {{/if}}
    {{#if views}}
      <div class="page-sidebar__item">
        {{#>widgets/sidebar-item title="307" icon="views"}}{{/widgets/sidebar-item}}
      </div>
    {{/if}}
  </div>
</aside>

