<div class="page-socials">
  <a class="page-socials__link" href="#" target="_blank">{{>ui/svg name="vk"}}</a>
  <a class="page-socials__link" href="#" target="_blank">{{>ui/svg name="fb"}}</a>
  <a class="page-socials__link" href="#" target="_blank">{{>ui/svg name="tw"}}</a>
</div>
