<div class="filter-option">
  <div class="filter-option__item">
    {{#> ui/field id="select_filters_02"}}
      {{#> ui/select id="select_filters_02" placeholder="Год" }}
        <option value="0">2021</option>
        <option value="1">2020</option>
        <option value="2">2019</option>
        <option value="3">2018</option>
        <option value="4">2017</option>
        <option value="5">2016</option>
      {{/ui/select}}
    {{/ui/field}}
  </div>
</div>
