<aside class="page-sidebar">
  <div class="page-sidebar__content">
    <div class="page-sidebar__item page-sidebar__item--related">
      <a class="page-sidebar__link" href="#">{{>icons/arrow-left big=1}}</a>
      <a class="page-sidebar__link" href="#">{{>icons/arrow-right big=1}}</a>
    </div>
    <div class="page-sidebar__item">
      {{#>widgets/sidebar-item title="Видео материалы:" icon="video"}}
        {{>widgets/sidebar-video label="Интервью для ТРК Югра 2018" url="https://www.youtube.com/embed/mJ3MB7ISUlM"}}
      {{/widgets/sidebar-item}}
    </div>
    <div class="page-sidebar__item">
      {{#>widgets/sidebar-item title="Дата публикации:" icon="pubdate"}}
        {{>widgets/sidebar-pubdate time="29.11 2020 г." views="307"}}
      {{/widgets/sidebar-item}}
    </div>
  </div>
</aside>
