<nav class="page-breadcrumbs">
  <ul class="page-breadcrumbs__container">
    {{#if crumb-2}}
      <li class="page-breadcrumbs__item">
        <a class="page-breadcrumbs__item-text" href="#">{{crumb-1}}</a>
      </li>
      <li class="page-breadcrumbs__item">
        <span class="page-breadcrumbs__item-text page-breadcrumbs__item-text--current">{{crumb-2}}</span>
      </li>
      {{else if crumb-1}}
      <li class="page-breadcrumbs__item">
        <span class="page-breadcrumbs__item-text page-breadcrumbs__item-text--current">{{crumb-1}}</span>
      </li>
    {{/if}}
  </ul>
</nav>
