<section class="page-single">
  <h2 class="visually-hidden">{{title}}</h2>
  <div class="container">
    <div class="page-single__header">
      {{>blocks/common/page-breadcrumbs}}
    </div>
    <div class="page-single__content">
      {{>@partial-block}}
    </div>
  </div>
</section>
