<aside class="page-sidebar js-page-sidebar">
  <div class="page-sidebar__content js-page-sidebar__content">
    {{#if related}}
      <div class="page-sidebar__item page-sidebar__item--related">
        <a class="page-sidebar__link" href="#">{{>icons/arrow-bold-left}}</a>
        <a class="page-sidebar__link" href="#">{{>icons/arrow-bold-right}}</a>
      </div>
    {{/if}}
    {{#if period}}
      <div class="page-sidebar__item">
        {{#>widgets/sidebar-item title="Дата:" icon="date"}}
          {{#>widgets/sidebar-text}}
            <p>4 декабря – 31 декабря 2020</p>
          {{/widgets/sidebar-text}}
        {{/widgets/sidebar-item}}
      </div>
    {{/if}}
    {{#if period-ex}}
      <div class="page-sidebar__item">
        {{#>widgets/sidebar-item title="Дата:" icon="date"}}
          {{#>widgets/sidebar-text}}
            <p>4 декабря – 31 декабря 2020</p>
          {{/widgets/sidebar-text}}
        {{/widgets/sidebar-item}}
      </div>
    {{/if}}
    {{#if opened-ex}}
      <div class="page-sidebar__item">
        {{#>widgets/sidebar-item title="Залы открыты:" icon="time"}}
          {{#>widgets/sidebar-text}}
            <p>ср - вс</p>
            <p> 11:00 - 19:00</p>
          {{/widgets/sidebar-text}}
        {{/widgets/sidebar-item}}
      </div>
    {{/if}}
    {{#if location}}
      <div class="page-sidebar__item">
        {{#>widgets/sidebar-item title="Адрес:" icon="location"}}
          {{#>widgets/sidebar-text}}
            <p>Address</p>
          {{/widgets/sidebar-text}}
        {{/widgets/sidebar-item}}
      </div>
    {{/if}}
    {{#if location-ex}}
      <div class="page-sidebar__item">
        {{#>widgets/sidebar-item title="Адрес:" icon="location"}}
          {{#>widgets/sidebar-text}}
            <p>БУ ХМАО-Югры «Государственный художественный музей» (г. Ханты-Мансиск, ул. Мира, 2)</p>
          {{/widgets/sidebar-text}}
        {{/widgets/sidebar-item}}
      </div>
    {{/if}}
    {{#if cite-ex}}
      <div class="page-sidebar__item">
        {{#>widgets/sidebar-item title="Сайт:" icon="global"}}
          {{#>widgets/sidebar-text}}
            <p><a href="#" target="_blank">academy-andriaka.ru</a></p>
          {{/widgets/sidebar-text}}
        {{/widgets/sidebar-item}}
      </div>
    {{/if}}
    {{#if documents-ex}}
      <div class="page-sidebar__item">
        {{#>widgets/sidebar-item title="Документы:" icon="file"}}
          {{#>widgets/sidebar-text}}
            {{>ui/download-btn label="Заявление на участие (pdf)"}}
            {{>ui/download-btn label="Программа (pdf)"}}
          {{/widgets/sidebar-text}}
        {{/widgets/sidebar-item}}
      </div>
    {{/if}}
    {{#if video}}
      <div class="page-sidebar__item">
        {{#>widgets/sidebar-item title="Видео материалы:" icon="video"}}
          {{>widgets/sidebar-video label="Интервью для ТРК Югра 2018" url="https://www.youtube.com/embed/mJ3MB7ISUlM"}}
        {{/widgets/sidebar-item}}
      </div>
    {{/if}}
    {{#if video-ex}}
      <div class="page-sidebar__item">
        {{#>widgets/sidebar-item title="Видео материалы:" icon="video"}}
          {{>widgets/sidebar-video
              img="01"
              label="Отчетная выставка Ханты-Мансийского отделения Союза художников России"
              href="https://www.youtube.com/watch?v=ze_ie8Ctp60"
              dataset="ze_ie8Ctp60"
          }}
          {{>widgets/sidebar-video
              img="01"
              label="Какой-то текст"
              href="https://www.youtube.com/watch?v=ze_ie8Ctp60"
              dataset="ze_ie8Ctp60"
          }}
        {{/widgets/sidebar-item}}
      </div>
    {{/if}}
    {{#if pubdate}}
      <div class="page-sidebar__item">
        {{#>widgets/sidebar-item title="Дата публикации:" icon="date"}}
          {{#>widgets/sidebar-text views="307"}}
            <time datetime="04-12-2020">04.12.2020 г.</time>
          {{/widgets/sidebar-text}}
        {{/widgets/sidebar-item}}
      </div>
    {{/if}}
    {{#if views}}
      <div class="page-sidebar__item">
        {{#>widgets/sidebar-item title="307" icon="views"}}{{/widgets/sidebar-item}}
      </div>
    {{/if}}
  </div>
</aside>

