// Colors
$color-white: #FFFFFF;
$color-white-75: rgba(255, 255, 255, 0.74);
$color-white-54: rgba(255, 255, 255, 0.54);
$color-black: #000000;
$color-black-87: rgba(0, 0, 0, 0.87);
$color-black-75: rgba(0, 0, 0, 0.74);
$color-black-60: rgba(0, 0, 0, 0.6);
$color-black-54: rgba(0, 0, 0, 0.54);
$color-black-34: rgba(0, 0, 0, 0.34);
$color-red: #FF0000;

$color-dark: #333333;
$color-gray-dark: #767676;
$color-gray-lite: #EDEDED;

$color-primary: #448D6E;
$color-primary-hover: darken($color-primary, 5%);
$color-secondary: #1B74FD;
$color-secondary-hover: darken($color-secondary, 5%);

$color-placeholder: rgba(255, 255, 255, 0.74);
$color-input-border: #DAE4ED;
