$baseFontName: 'Roboto';

@font-face {
  font-family: 'RodchenkoCCT';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/rodchenko.woff2') format('woff2');
  font-display: swap;
}

