</main>

<footer class="page__footer footer">
  <div class="container">
    <div class="footer__grid">
      <div class="footer__menu">
        {{>blocks/common/main-menu footer=1}}
      </div>
      <div class="footer__contacts">
        {{>blocks/common/main-contacts}}
      </div>
      <div class="footer__form">
        {{>blocks/common/form-subscribe mode="white"}}
      </div>
      <div class="footer__logo">
        {{>blocks/common/page-logo name="logo-white"}}
      </div>
      <div class="footer__socials">
        {{>blocks/common/page-socials}}
      </div>
    </div>
  </div>
</footer>

</div>

{{> layout/bottom}}
