{{>layout/head}}

<header class="page__header header js-header">
  <div class="container">
    <div class="header__grid">
      <div class="header__logo">
        {{>blocks/common/page-logo name="logo"}}
      </div>
      <div class="header__top">
        <h2 class="header__top-title">
          Региональное отделение ВТОО <br class="_tablet-hidden">
          «Союз Художников России» по ХМАО — Югре</h2>
      </div>
      <div class="header__nav">
        <div class="header__menu js-header__menu">
          {{>blocks/common/main-menu}}
        </div>
        <div class="header__search">
          {{>blocks/common/header-search}}
        </div>
        <div class="header__burger _tablet-visible">
          <button class="header__burger-btn js-header__burger" type="button" aria-label="Открыть меню">
            <span></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="page__content">
