<div class="filter-tag">
  <div class="filter-tag__container">
    <p class="filter-tag__label">{{tabel}}</p>
    <button class="filter-tag__remove-btn" type="button" aria-label="Удалить тег"></button>
  </div>
</div>
