.form-input {
  position: relative;

  input {
    height: 48px;
    width: 100%;
    padding: 0 10px;
    color: inherit;
    font-size: 16px;
    line-height: 22px;
    background: transparent;
    border: 1px solid $color-black-75;
    border-radius: 3px;
    @include transition;

    @include placeholder {
      color: $color-black-75;
    }

    &:hover {
      cursor: pointer;
      border-color: $color-black-34;
    }

    &:focus-within {
      cursor: text;
      border-color: $color-primary;
    }

    &.input-white {
      border: 1px solid $color-white-75;

      @include placeholder {
        color: $color-white-75;
      }

      &:hover {
        border-color: $color-white;
      }

      &:focus-within {
        cursor: text;
        border-color: $color-white;
      }
    }
  }

  &--icon {
    position: relative;

    input {
      padding-left: 36px;
    }
  }

  &--icon-right {
    position: relative;

    input {
      padding-left: 10px;
      padding-right: 36px;
    }
  }

  &--reset {
    padding-right: 44px;
  }

  &__icon {
    content: '';
    display: block;
    @include align(false, true);
    z-index: 1;
    pointer-events: none;
    margin-top: -2px;

    left: 10px;

    .form-input--icon-right & {
      right: 10px;
      left: auto;
    }

    &--date {
      @include sprite('input-date');
    }
  }

  &__submit {
    position: absolute;
    top: 50%;
    right: 26px;
    height: 25px;
    transform: translateY(-50%);

    &:hover {
      .arrow-right {
        opacity: initial;
      }

      .arrow-right__body {
        @include media(mobile, up) {
          width: 25px;
        }

        @include media(mobile) {
          width: 20px;
        }
      }
    }

    .arrow-right__body {
      @include media(mobile) {
        width: 30px;
      }
    }
  }

  &__reset {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
  }
}
