.main-menu {
  &--footer {
    margin-bottom: -8px;

    .main-menu__list {
      columns: 2;
      column-gap: 8px;
    }

    .main-menu__item {
      padding: 0 0 8px;
      -webkit-column-break-inside: avoid;
      break-inside: avoid;
    }

    .main-menu__link {
      &:hover {
        color: $color-white-75;
      }
    }
  }

  &--header {
    @include media(tablet) {
      background-color: $color-dark;
      max-height: calc(100 * var(--vh) - 104px);
      overflow: auto;
      @include hide-scrollbar;
      @include transition;
    }

    .main-menu__list {
      display: flex;
      align-self: center;

      @include media(tablet, up) {
        margin: 0 -20px;
      }

      @include media(tablet) {
        flex-direction: column;
        min-width: 412px;
        padding: 30px 0 45px;
      }

      @include media(mobile) {
        flex-direction: column;
        min-width: 100%;
      }
    }

    .main-menu__item {
      position: relative;

      &:hover,
      &:focus-within {
        > .main-menu__submenu {
          visibility: visible;
          pointer-events: auto;
          opacity: initial;
        }

        > .main-menu__link {
          @include media(tablet, up) {
            color: transparentize($color-dark, 0.4);
          }

          @include media(tablet) {
            color: $color-white;
          }
        }
      }

      > .icon {
        position: absolute;
        top: 25px;
        right: 48px;
        width: 24px;
        height: 24px;
        color: $color-white-54;
        transform: translateY(-50%) rotate(90deg);

        @include media(tablet, up) {
          display: none;
        }
      }

      &--nested {
        &:hover {
          @include media(tablet) {
            .main-menu__submenu {
              max-height: calc(100 * var(--vh));
            }

            > .icon {
              transform: translateY(-50%) rotate(270deg);
            }
          }
        }
      }
    }

    .main-menu__link {
      display: block;
      letter-spacing: 0.03em;
      text-transform: uppercase;

      @include media(tablet, up) {
        padding: 30px 20px;
        @include rodchenko;
        font-weight: normal;
        font-size: 20px;
        line-height: 21px;
        color: $color-dark;

        &:hover {
          color: transparentize($color-dark, 0.4);
        }
      }

      @include media(tablet) {
        padding: 15px 48px 15px 38px;
        font-weight: 900;
        font-size: 17px;
        line-height: 20px;
        color: $color-white-54;
        background-color: $color-dark;
      }

      &--current {
        color: $color-primary;
      }
    }

    .main-menu__submenu {
      @include media(tablet, up) {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: z(default) + 1;
        min-width: 210px;
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        @include transition;
      }

      @include media(tablet) {
        max-height: 0;
        overflow: hidden;
        transition: max-height 500ms ease-in-out;
      }
    }
  }
}

.main-submenu {
  &__item {
    position: relative;

    &:hover,
    &:focus-within {
      > .main-submenu__link {
        @include media(tablet, up) {
          background-color: $color-primary;
        }
      }

      > .icon {
        color: rgba(255, 255, 255, 0.54);
      }

      > .main-submenu__menu {
        visibility: visible;
        pointer-events: auto;
        opacity: initial;
      }
    }

    &--nested {
      > .icon {
        position: absolute;
        top: 50%;
        right: 10px;
        width: 24px;
        height: 24px;
        color: $color-white;
        transform: translateY(-50%);
        @include transition;

        @include media(tablet) {
          top: 25px;
          right: 48px;
          color: $color-white-54;
          transform: translateY(-50%) rotate(90deg);
        }
      }

      &:hover {
        @include media(tablet) {
          .main-submenu__menu {
            max-height: calc(100 * var(--vh));
          }

          > .icon {
            transform: translateY(-50%) rotate(270deg);
          }
        }
      }
    }
  }

  &__link {
    display: block;
    width: 100%;
    padding: 19px 18px;
    color: $color-white;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    background-color: $color-dark;

    &:first-letter {
      text-transform: capitalize;
    }

    @include media(tablet) {
      padding-left: 68px;
    }

    &:hover {
      @include media(tablet) {
        background-color: $color-primary;
      }
    }
  }

  &__menu {
    @include media(tablet, up) {
      position: absolute;
      top: 0;
      left: 100%;
      min-width: 260px;
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
      @include transition;
    }

    @include media(tablet) {
      max-height: 0;
      overflow: hidden;
      transition: max-height 500ms ease-in-out;

      .main-submenu__link {
        padding-left: 100px;
      }
    }
  }
}
