.main-menu {
  &--footer {
    margin-bottom: -8px;

    .main-menu__list {
      columns: 2;
      column-gap: 8px;
    }

    .main-menu__item {
      padding: 0 0 8px;
      -webkit-column-break-inside: avoid;
      break-inside: avoid;
    }

    .main-menu__link {
      &:hover {
        color: $color-white-75;
      }
    }
  }

  &--header {
    @include media(tablet) {
      background-color: $color-dark;
      max-height: calc(100 * var(--vh) - 104px);
      overflow: auto;
      @include hide-scrollbar;
      @include transition;
    }

    .main-menu__list {
      display: flex;
      align-self: center;

      @include media(tablet, up) {
        margin: 0 -20px;
      }

      @include media(tablet) {
        flex-direction: column;
        width: 415px;
        padding: 30px 0 45px;
      }

      @include media(mobile) {
        flex-direction: column;
        width: 100vw;
      }
    }

    .main-menu__item {
      position: relative;

      &:hover,
      &:focus-within {
        > .main-menu__submenu {
          @include media(tablet, up) {
            visibility: visible;
            pointer-events: auto;
            opacity: initial;
          }
        }

        > .main-menu__link {
          @include media(tablet, up) {
            color: transparentize($color-dark, 0.4);
          }
        }
      }

      > .main-menu__link-button {
        position: absolute;
        top: 25px;
        right: 48px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-50%) rotate(90deg);
        color: $color-white-54;
        @include transition;

        @include media(tablet, up) {
          display: none;
        }

        .icon {
          width: 24px;
          height: 24px;
          color: inherit;
        }
      }

      &.opened {
        > .main-menu__link {
          @include media(tablet) {
            color: $color-white;
          }
        }

        > .main-menu__submenu {
          @include media(tablet) {
            display: block;
          }
        }

        > .main-menu__link-button {
          transform: translateY(-50%) rotate(270deg);
          color: $color-white;
        }
      }
    }

    .main-menu__link {
      display: block;
      letter-spacing: 0.03em;
      text-transform: uppercase;

      @include media(tablet, up) {
        padding: 30px 20px;
        @include rodchenko;
        font-weight: normal;
        font-size: 20px;
        line-height: 21px;
        color: $color-dark;

        &:hover {
          color: transparentize($color-dark, 0.4);
        }
      }

      @include media(tablet) {
        padding: 15px 48px 15px 38px;
        font-weight: 900;
        font-size: 17px;
        line-height: 20px;
        color: $color-white-54;
        background-color: $color-dark;
      }

      &--current {
        color: $color-primary;
      }
    }

    .main-menu__link-button {
      color: inherit;
    }

    .main-menu__submenu {
      @include media(tablet, up) {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: z(default) + 1;
        min-width: 210px;
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        @include transition;
      }

      @include media(tablet) {
        display: none;

        &.animate {
          position: relative;
          display: block;
          height: 0;
          overflow: hidden;
          transition: height 320ms ease;
        }
      }
    }
  }
}

.main-submenu {
  &__item {
    position: relative;

    &:hover,
    &:focus-within {
      @include media(tablet, up) {
        > .main-submenu__link {
          background-color: $color-primary;
        }

        > .main-submenu__item-button {
          color: $color-white;
          transform: translateY(-50%) rotate(0deg);
        }

        > .main-submenu__menu {
          visibility: visible;
          pointer-events: auto;
          opacity: initial;
        }
      }
    }

    &--nested {
      > .main-submenu__item-button {
        position: absolute;
        top: 50%;
        right: 10px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-white-54;
        transform: translateY(-50%) rotate(90deg);
        @include transition;

        @include media(tablet) {
          top: 25px;
          right: 48px;
          color: $color-white-54;
          transform: translateY(-50%) rotate(90deg);
        }

        .icon {
          width: 24px;
          height: 24px;
          @include transition;
        }
      }

      &.opened {
        > .main-submenu__menu {
          @include media(tablet) {
            display: block;
          }
        }

        > .main-submenu__item-button {
          @include media(tablet) {
            transform: translateY(-50%) rotate(270deg);
            color: $color-white;
          }
        }
      }

      &:hover {
        @include media(tablet) {
          //.main-submenu__menu {
          //  max-height: calc(100 * var(--vh));
          //}
          //
          //> .main-submenu__item-button {
          //  transform: translateY(-50%) rotate(270deg);
          //}
        }
      }
    }
  }

  &__link {
    display: block;
    width: 100%;
    padding: 19px 18px;
    color: $color-white;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    background-color: $color-dark;

    &:first-letter {
      text-transform: capitalize;
    }

    @include media(tablet) {
      padding-left: 68px;
      padding-right: 48px;
    }

    &:hover {
      @include media(tablet) {
        background-color: $color-primary;
      }
    }
  }

  &__menu {
    @include media(tablet, up) {
      position: absolute;
      top: 0;
      left: 100%;
      min-width: 260px;
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
      @include transition;
    }

    @include media(tablet) {
      display: none;

      &.animate {
        position: relative;
        display: block;
        height: 0;
        overflow: hidden;
        transition: height 320ms ease;
      }

      .main-submenu__link {
        padding-left: 100px;
      }
    }
  }
}
