.page-pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    display: flex;
    align-items: baseline;
  }

  li {
    margin: 0 5px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 0;
    color: #828282;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    min-height: 20px;
    background: #FFFFFF;
    box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 8px;

    &:hover {
      color: $color-dark;
    }

    &:not(a) {
      color: #6979F8;
      pointer-events: none;
    }

    &--current {
      display: flex;
      flex-direction: column;
      color: $color-primary;

      &:hover {
        color: $color-primary-hover;

        &::after {
          opacity: 0;
        }
      }

      &::after {
        content: '';
        display: block;
        width: 10px;
        border-bottom: 2px solid;
        opacity: initial;
        @include transition;
      }
    }
  }
}
