.page-single {
  &__header {
    padding-top: 95px;
    border-top: 1px solid $color-black-34;
  }

  &__body {
    border-top: 1px solid $color-black-34;

    @include media(mobile, up) {
      padding-top: 80px;
    }

    @include media(mobile) {
      padding-top: 75px;
    }

    &--sidebar {
      @include media(tabletSmall, up) {
        display: grid;
        grid-template-columns: minmax(auto, 730px)  minmax(285px, 1fr);
        grid-gap: 50px;
      }
    }
  }

  &__sidebar {
    @include media(tabletSmall, up) {
      padding-left: 20px;
      border-left: 1px solid $color-black-34;
    }

    @include media(tabletSmall) {
      padding-top: 40px;
      border-top: 1px solid $color-black-34;
    }
  }

  &__pagination {
    margin-top: 65px;
  }

  .container {
    padding-bottom: 80px;
  }
}
