.page-section {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    + * {
      @include media(tabletSmall, up) {
        margin-top: 70px;
      }

      @include media(tabletSmall) {
        margin-top: 35px;
      }
    }
  }

  &__header-link {
    display: inline-flex;
    align-items: center;

    @include media(tablet) {
      font-size: 14px;
      line-height: 22px;
    }

    &:hover {
      opacity: 0.54;
    }

    .arrow {
      margin-right: 10px;
    }
  }

  &__title {
    display: block;
    margin: 0;
    @include rodchenko;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 1;

    @include media(tablet) {
      font-size: 22px;
      line-height: 46px;
    }
  }

  &__content {
    flex: 1 1 auto;
  }
}
