.page-sidebar {
  @include media(tabletSmall, up) {
    will-change: min-height;
  }

  &__content {
    @include media(tabletSmall, up) {
      transform: translate3d(0, 0, 0);
      will-change: position, transform;
    }

    @include media(tabletSmall) {
      position: static!important;
    }

    > * + * {
      margin-top: 42px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    margin-left: 35px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__item {
    &--related {
      display: flex;
      align-items: center;

      @include media(tabletSmall) {
        position: absolute;
        top: 80px;
        right: 0;
        left: 0;
        justify-content: space-between;
      }

      @include media(mobile) {
        top: 75px;
      }

      .arrow-bold {
        @include media(tabletSmall) {
          --arrow-color: #{$color-dark-34};
        }
      }

      + * {
        @include media(tabletSmall, up) {
          margin-top: 95px;
        }

        @include media(tabletSmall) {
          margin-top: 0;
        }
      }
    }

    &:last-child {
      @include media(tabletSmall, up) {
        //padding-bottom: 20px;
      }
    }
  }
}
