.page-sidebar {
  &__content {
    > * + * {
      margin-top: 42px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    margin-left: 35px;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      .arrow {
        .arrow-right__body,
        .arrow-left__body {
          width: 40px;
        }
      }
    }
  }

  &__item {
    &--related {
      display: flex;
      align-items: center;

      @include media(tabletSmall) {
        justify-content: center;
      }

      + * {
        margin-top: 95px;

        @include media(tabletSmall) {
          margin-top: 82px;
        }
      }
    }
  }
}
