.static {
  > * {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    display: block;
    margin: 22px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
  }
}
