<div class="form-field">
  {{#if label}}<label class="form-field__label" for="{{id}}">{{label}}</label>{{/if}}
  <div class="form-field__input">
    {{> @partial-block}}
  </div>
  {{#if note}}<span class="form-field__note">{{note}}</span>{{/if}}
</div>
