{{#>blocks/common/page-single
    title="Заседание Совета при Президенте РФ по культуре и искусству"
    crumb-1="Новости"
    page-class="about-single"
    container-md=1
}}
  <div class="about-single__container">
    <div class="about-single__preview">
      {{>components/image img="static/01" ext="jpg"}}
    </div>
    <div class="about-single__static static">
      <h2>Заседание Совета при Президенте РФ по культуре и искусству</h2>
      <p> 27 октября 2020 года В.В. Путин провел в режиме видеоконференции заседание Совета при Президенте РФ по
        культуре и искусству. В работе Совета принял участие председатель <a href="#">Союза художников России</a> А.Н. Ковальчук.</p>
      <p> В.В. Путин: – Члены Совета, деятели культуры приняли в обсуждении конституционных поправок самое активное
        участие и, уверен, с готовностью присоединятся к парламентариям, которые уже работают над соответствующими
        законопроектами. В том числе четкое юридическое оформление должны получить такие понятия, как обязанность
        государства беречь, поддерживать и развивать культуру и самобытность народов России.</p>
      <p> В.В. Путин: – Члены Совета, деятели культуры приняли в обсуждении конституционных поправок самое активное
        участие и, уверен, с готовностью присоединятся к парламентариям, которые уже работают над соответствующими
        законопроектами. В том числе четкое юридическое оформление</p>
    </div>
    <div class="about-single__pubdate">
      <div class="pubdate-inline">
        <time datetime="04-12-2020">04.12.2020 г.</time>
      </div>
    </div>
    <div class="about-single__files">
      <ul class="about-single__files-list">
        <li class="about-single__files-item">
          {{>widgets/files-btn icon="pdf" label="docs.google.com/sdf"}}
        </li>
        <li class="about-single__files-item">
          {{>widgets/files-btn icon="doc" label="docs.google.com/sdf"}}
        </li>
        <li class="about-single__files-item">
          {{>widgets/files-btn icon="txt" label="docs.google.com/sdf"}}
        </li>
        <li class="about-single__files-item">
          {{>widgets/files-btn icon="rar" label="docs.google.com/sdf"}}
        </li>
        <li class="about-single__files-item">
          {{>widgets/files-btn icon="png" label="docs.google.com/sdf"}}
        </li>
        <li class="about-single__files-item">
          {{>widgets/files-btn icon="zip" label="docs.google.com/sdf"}}
        </li>
      </ul>
    </div>
  </div>
{{/blocks/common/page-single}}
