{{#>blocks/common/page-single
    title="Художники"
    crumb-1="О союзе"
    crumb-2="Художники"
    page-class="artists-main"
    page-filters="artists"
}}
  <div class="artists-main__container js-artists">
    <div class="artists-main__portrait">
      <div class="artists-main__portrait-container js-artists__results-img"></div>
    </div>
    <div class="artists-main__body js-artists__body">
      <ul class="artists-main__list">
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Адамецкая Татьяна Николаевна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/expositions/category/01.jpg"
              name="Александров Александр Владимирович"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Антипова Лидия Семеновна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/expositions/category/01.jpg"
              name="Банников Виктор Николаевич"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Белкина Ксения Вадимировна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/expositions/category/01.jpg"
              name="Бубновене Ольга Дмитриевна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Бурова Ольга Алексеевна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/expositions/category/01.jpg"
              name="Верхоносцев Павел Александрович"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Визель Александр Георгиевич"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/expositions/category/01.jpg"
              name="Визель Галина Михайовна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Видинеев Владимир Николаевич."
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/expositions/category/01.jpg"
              name="Вербицкий Виталии Дмитриевич."
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Гайнанова Людмила Николаевна."
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/expositions/category/01.jpg"
              name="Горда Наталья Евгеньевна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Голицына Наталья Леонидовна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/expositions/category/01.jpg"
              name="Демьяненко Иван Владимирович"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Жеманская Наталья Александровна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/expositions/category/01.jpg"
              name="Зайчиков Вячеслав Николаевич"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Зайнуллин Мунир Муталлапович"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/expositions/category/01.jpg"
              name="Зонина Светлана Николаевна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Исаева Марина Владимировна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/expositions/category/01.jpg"
              name="Колов Владимир Валентинович"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Колова Лариса Борисовна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/expositions/category/01.jpg"
              name="Кравченко Наталья Николаевна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Кускунова Людмила Владимировна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/expositions/category/01.jpg"
              name="Ливн Валентин Викторович"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Лозовой Сергей Павлович"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/expositions/category/01.jpg"
              name="Мамонов Евгений Терентьевич"
          }}
        </li>
      </ul>
      <ul class="artists-main__list">
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Манкевич Мария Николаевна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/expositions/category/01.jpg"
              name="Медведев Сергей Геннадьевич"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Медведева Олеся Анатольевна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/expositions/category/01.jpg"
              name="Мерцалова Ольга Александровна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Новикова Марина Михайовна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Павловский Олег Владимирович"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Портнова Василиса Викторовна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Райшев Геннадий Степанович"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Рябцева Елизавета Михайловна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Саргсян Володя Арсенович"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Седов Александр Николаевич"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Седова Татьяна Викторовна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Соколова Ирина Валентиновна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Сорокин Юрий Петрович"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Творжинская Марина Дмитриевна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Устюжанин Сергей Николаевич"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Устюжанин Николай Сергеевич"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Федорова Наталья Николаевна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Шевченко Владимир Васильевич"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Шелепов Евгений Иванович"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Шойунчап Гульшат Рафиковна"
          }}
        </li>
        <li class="artists-main__item">
          {{>widgets/artists-link
              dataset="../assets/images/artists/main/01.jpg"
              name="Эккерт Мария Григорьевна"
          }}
        </li>
      </ul>
    </div>
  </div>
{{/blocks/common/page-single}}
