{{#>blocks/common/page-single
    title="Заседание Совета при Президенте РФ по культуре и искусству"
    crumb-1="О союзе"
    crumb-2="Художники"
    sidebar=1
    page-class="artists-single"
}}
  <div class="artists-single__container">
    <div class="static">
      <img src="../assets/images/artists/main/01.jpg" alt="">
      <h2>Визель Галина Михайловна</h2>
      <p>
        Народный художник РФ, Член-корреспондент Российской академии художеств
      </p>

      <p>
        Родилась 14 мая 1941 года в г. Тюмень. Живет и работает Ханты-Мансийске
      </p>

      <ul>
        <li>1965 -1969  -  Ташкентское республиканское художественное училище им. П.П. Бенькова.</li>
        <li>1969 -1974  -  Ташкентский театрально-художественный институт им. А.Н. Островского</li>
      </ul>

      <ul>
        <li>1978 - Член Союза художников СССР</li>
        <li>1985 -1987 -  Председатель Правления Тюменской организации Союза художников РСФСР</li>
        <li>1989 – 2000 -  Главный художник г. Тюмени</li>
        <li>1994 - Заслуженный художник РФ</li>
      </ul>

      <ul>
        <li>1995 -1966 - Председатель Правления Тюменской организации Союза художников РСФСР</li>
        <li>1997 - Член Союза дизайнеров России</li>
        <li>2005 – Народный художник Российской Федерации</li>
        <li>2007 – 2015 –	Профессор Ханты-Мансийского института дизайна и прикладных искусств (филиал) государственного образовательного учреждения высшего профессионального образования «Уральская государственная архитектурно-художественная академия»</li>
        <li>2009 - Профессор по кафедре живописи и декоративно-прикладного искусства Академии культуры, искусств и социальных технологий г.Тюмени</li>
        <li>2012 - Член-корреспондент Российской Академии художеств</li>
      </ul>

      <h3>Награды</h3>

      <ul>
        <li>2002 - Серебряная медаль Российской Академии художеств</li>
        <li>2011 - Золотая медаль ВТОО «Союз художников России»</li>
        <li>2011 - Медаль «Шувалов» Российской Академии художеств</li>
        <li>2012 - Медаль ордена «За заслуги перед Отечеством» II степени</li>
        <li>2013 – Золотая медаль Российской академии художеств</li>
        <li>2002 - Серебряная медаль Российской Академии художеств</li>
        <li>2011 - Золотая медаль ВТОО «Союз художников России»</li>
      </ul>

    </div>

    <div class="page-single__section">
      {{#>blocks/common/page-section section-title="Фотоматериалы" slider-class="js-slider-photos"}}
        <div class="slider-photos">
          <div class="swiper-container js-slider-photos__slider">
            <div class="swiper-wrapper js-gallery">
              {{>widgets/photos-card
                  mode="swiper-slide"
                  data-size="344x518"
                  img="1"
                  author="Визель Г. М."
                  caption="Декоративное панно из серии: «Наследие Югры»"
              }}
              {{>widgets/photos-card
                  mode="swiper-slide"
                  data-size="228x518"
                  img="2"
                  author="Визель Г. М."
                  caption="Декоративное панно из серии: «Наследие Югры»"
              }}
              {{>widgets/photos-card
                  mode="swiper-slide"
                  data-size="556x518"
                  img="3"
                  author="Визель Г. М."
                  caption="Декоративное панно из серии: «Наследие Югры»"
              }}
              {{>widgets/photos-card
                  mode="swiper-slide"
                  data-size="594x568"
                  img="4"
                  author="Визель Г. М."
                  caption="Декоративное панно из серии: «Наследие Югры»"
              }}
              {{>widgets/photos-card
                  mode="swiper-slide"
                  data-size="344x518"
                  img="1"
                  author="Визель Г. М."
                  caption="Декоративное панно из серии: «Наследие Югры»"
              }}
            </div>
            <a class="slider-photos__counter js-slider-photos__counter" href="#">
              <div class="slider-photos__counter-inner">
                Всего <span class="js-slider-photos__counter-text"></span>&nbsp;фото
              </div>
            </a>
          </div>
        </div>
      {{/blocks/common/page-section}}
    </div>
  </div>
  <div class="page-single__sidebar">
    {{>blocks/common/page-sidebar artists=1}}
  </div>
{{/blocks/common/page-single}}
