{{#>blocks/common/page-single title="Контакты" crumb-1="Контакты"}}
  <div class="contacts-page">
    <ul class="contacts-page__list">
      <li class="contacts-page__item">
        <div class="contacts-card">
          <p class="contacts-card__text">Ханты-Мансийское отделение ВТОО «Союз художников Югры»</p>
          <p class="contacts-card__text">Адрес: 628012, г.&nbsp;Ханты-Мансийск</p>
          <p class="contacts-card__text"><a href="mailto:shrugra2020@mail.ru">shrugra2020@mail.ru</a></p>
        </div>
      </li>
      <li class="contacts-page__item">
        <div class="contacts-card">
          <p class="contacts-card__text">Председатель Ханты-Мансийского отделения ВТОО «Союз художников Югры»</p>
          <p class="contacts-card__text">Портнова Василиса Викторовна</p>
          <p class="contacts-card__text">
            <a href="tel:79044805860">+7 (904) 480-58-60</a>
            <a href="mailto:vasilisa-lissa@mail.ru">vasilisa-lissa@mail.ru</a>
          </p>
        </div>
      </li>
      <li class="contacts-page__item">
        <div class="contacts-card">
          <p class="contacts-card__text">Член правления Ханты-Мансийского отделения ВТОО «Союз художников Югры»</p>
          <p class="contacts-card__text">Голицына Наталья Леонидовна</p>
          <p class="contacts-card__text">
            <a href="tel:+79227959435">+7 (922) 795-94-35</a>
            <a href="tel:+73467330821">+7 (3467) 33-08-21</a>
            <a href="mailto:dobrava@mail.ru">dobrava@mail.ru</a>
          </p>
        </div>
      </li>
      <li class="contacts-page__item">
        <div class="contacts-form">
          <div class="contacts-form__text-content">
            <h3 class="contacts-form__title">Обратная связь</h3>
            <p class="contacts-form__text">*Все поля обязательны для заполнения.</p>
            <p class="contacts-form__text">Ответы на ваши вопросы придут на указанный адрес e-mail в самое ближайшее время</p>
          </div>
          <form>
            <div class="contacts-form__form">
              <div class="contacts-form__group">
                {{#> ui/field label="E-mail:*" id="email-contacts_01"}}
                  {{> ui/input id="email-contacts_01"}}
                {{/ui/field}}
                {{#> ui/field label="Как вас зовут:*" id="name-contacts_01"}}
                  {{> ui/input id="name-contacts_01"}}
                {{/ui/field}}
              </div>
              {{#> ui/field label="Ваш вопрос:*" id="message-contacts_01"}}
                {{> ui/textarea id="message-contacts_01"}}
              {{/ui/field}}
              <div class="contacts-form__submit">
                <button class="contacts-form__btn" type="submit">УЗНАТЬ БОЛЬШЕ</button>
              </div>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
{{/blocks/common/page-single}}
