{{#>blocks/common/page-single
    title="Ханты-Мансийского отделения "
    crumb-1="Выставки"
    crumb-2="Ханты-Мансийского отделения"
    pagination=1
    page-class="category-page"
    page-filters="years"
}}
  <div class="category-page__container">
    <div class="category-page__header">
      <h2 class="category-page__title">Ханты-Мансийского отделения</h2>
      <div class="static">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Elit ullamcorper dignissim cras tincidunt lobortis. Netus et malesuada fames ac turpis egestas.
          Sit amet venenatis urna cursus eget nunc. Duis ut diam quam nulla porttitor massa id. Vel quam elementum
          pulvinar etiam non quam. In metus vulputate eu scelerisque felis imperdiet proin fermentum leo. Aliquet sagittis
          id consectetur purus. Quis lectus nulla at volutpat diam ut venenatis tellus in. Nisi lacus sed viverra tellus
          in hac. Aliquet bibendum enim facilisis gravida neque convallis a cras. Sollicitudin ac orci phasellus egestas
          tellus rutrum tellus pellentesque.
        </p>
      </div>
    </div>

    <div class="page-single__section">
      {{#>blocks/common/page-section}}
        <ul class="category-page__list category-page__list--columns">
          <li class="category-page__item">
            {{>widgets/exposition-card
                exp-cat-img="1"
                exp-cat-title="«Не о войне» – выставка в Академии Сергея Андрияки"
                exp-cat-time="18 декабря 2020"
                exp-cat-text="3 сентября 2020 года в Музейно-выставочном комплексе Академии акварели и изящных искусств Сергея Андрияки открывается выставка «Не о войне», посвященная 75-летию Великой Победы."
            }}
          </li>
          <li class="category-page__item">
            {{>widgets/exposition-card
                exp-cat-img="2"
                exp-cat-title="Международная Ассамблея «Пластовская осень»"
                exp-cat-time="18 декабря 2020"
                exp-cat-text="В Ульяновской области завершилась X Международная Ассамблея художников «Пластовская осень 2020». Программа ассамблеи, как всегда, была насыщенной. В ней приняла участие делегация Союза художников России – секретари СХР А.Н. Суховецкий и В.П. Полотнов."
            }}
          </li>
          <li class="category-page__item">
            {{>widgets/exposition-card
                exp-cat-img="3"
                exp-cat-title="«Не о войне» – выставка в Академии Сергея Андрияки"
                exp-cat-time="18 декабря 2020"
                exp-cat-text="3 сентября 2020 года в Музейно-выставочном комплексе Академии акварели и изящных искусств Сергея Андрияки открывается выставка «Не о войне», посвященная 75-летию Великой Победы."
            }}
          </li>
          <li class="category-page__item">
            {{>widgets/exposition-card
                exp-cat-img="1"
                exp-cat-title="«Не о войне» – выставка в Академии Сергея Андрияки"
                exp-cat-time="18 декабря 2020"
                exp-cat-text="3 сентября 2020 года в Музейно-выставочном комплексе Академии акварели и изящных искусств Сергея Андрияки открывается выставка «Не о войне», посвященная 75-летию Великой Победы."
            }}
          </li>
          <li class="category-page__item">
            {{>widgets/exposition-card
                exp-cat-img="2"
                exp-cat-title="Международная Ассамблея «Пластовская осень»"
                exp-cat-time="18 декабря 2020"
                exp-cat-text="В Ульяновской области завершилась X Международная Ассамблея художников «Пластовская осень 2020». Программа ассамблеи, как всегда, была насыщенной. В ней приняла участие делегация Союза художников России – секретари СХР А.Н. Суховецкий и В.П. Полотнов."
            }}
          </li>
          <li class="category-page__item">
            {{>widgets/exposition-card
                exp-cat-img="3"
                exp-cat-title="«Не о войне» – выставка в Академии Сергея Андрияки"
                exp-cat-time="18 декабря 2020"
                exp-cat-text="3 сентября 2020 года в Музейно-выставочном комплексе Академии акварели и изящных искусств Сергея Андрияки открывается выставка «Не о войне», посвященная 75-летию Великой Победы."
            }}
          </li>
        </ul>
      {{/blocks/common/page-section}}
    </div>
  </div>
{{/blocks/common/page-single}}
