<div class="home-main">
  <div class="home-main__hero">
    <div class="home-hero js-slider-hero">
      <div class="swiper-container js-slider-hero__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="hero-slide">
              <div class="container">
                <div class="hero-slide__container">
                  <div class="hero-slide__content">
                    <span class="hero-slide__label">Выставка</span>
                    <h2 class="hero-slide__title">ПОДАРОК ЮГРЕ. <br> Выставка регионального отделения ВТОО «Союз
                      художников России» по Ханты-Мансийскому автономному округу – Югре</h2>
                    <p class="hero-slide__text">В декабре 2020 года в Государственном художественном музее Югры была
                      открыта выставка произведений членов Ханты-Мансийского отделения Союза
                      художников России, приуроченная к 90-летию округа.</p>
                    <div class="hero-slide__action">
                      <a class="hero-slide__action-link" href="news--example.html">УЗНАТЬ БОЛЬШЕ</a>
                    </div>
                  </div>
                  <div class="hero-slide__image">
                    {{>components/image img="home/hero/02" ext="jpg"}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="hero-slide">
              <div class="container">
                <div class="hero-slide__container">
                  <div class="hero-slide__content">
                    <span class="hero-slide__label">НАШИ ПРОЕКТЫ</span>
                    <h2 class="hero-slide__title">«Радуга Юга — 2020» Межрегиональная художественная выставка&nbsp;пейзажа
                      г. Пятигорск 08.11—20.12</h2>
                    <p class="hero-slide__text">В ней принимают участие художники Южного и Северо-Кавказского
                      федеральных округов России.</p>
                    <div class="hero-slide__action">
                      <a class="hero-slide__action-link" href="news--single.html">УЗНАТЬ БОЛЬШЕ</a>
                    </div>
                  </div>
                  <div class="hero-slide__image">
                    {{>components/image img="home/hero/01" ext="jpg"}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="hero-slide">
              <div class="container">
                <div class="hero-slide__container">
                  <div class="hero-slide__content">
                    <span class="hero-slide__label">НАШИ ПРОЕКТЫ</span>
                    <h2 class="hero-slide__title">«Радуга Юга — 2020» Межрегиональная художественная выставка&nbsp;пейзажа
                      г. Пятигорск 08.11—20.12</h2>
                    <p class="hero-slide__text">В ней принимают участие художники Южного и Северо-Кавказского
                      федеральных округов России.</p>
                    <div class="hero-slide__action">
                      <a class="hero-slide__action-link" href="news--single.html">УЗНАТЬ БОЛЬШЕ</a>
                    </div>
                  </div>
                  <div class="hero-slide__image">
                    {{>components/image img="home/hero/01" ext="jpg"}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home-hero__nav">
        <div class="container">
          <button class="home-hero__nav-btn home-hero__nav-btn--prev js-slider-hero__prev" type="button">
            <i class="home-hero__nav-icon"></i>
          </button>
          <button class="home-hero__nav-btn home-hero__nav-btn--next js-slider-hero__next" type="button">
            <i class="home-hero__nav-icon"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="home-main__content">
      <div class="home-main__section">
        {{#>blocks/common/page-section title="Наши проекты" action="проекты" link="projects.html"}}
          <div class="home-projects">
            <ul class="home-projects__list">
              <li class="home-projects__item">
                {{>widgets/projects-item
                    img="01"
                    category="ИЗДАНИЯ"
                    title="Издан каталог выставки «Подарок Югре», которая открылась в Государственном художественном музее 4 декабря"
                }}
              </li>
              <li class="home-projects__item">
                {{>widgets/projects-item
                    img="02"
                    category="АКЦИИ"
                    title="Керамика на снегу"
                }}
              </li>
              <li class="home-projects__item">
                {{>widgets/projects-item
                    img="03"
                    category="МАСТЕР-КЛАССЫ"
                    title="Мастер-класс по живописи от заслуженного художника РФ Владимира Колова"
                }}
              </li>
              <li class="home-projects__item">
                {{>widgets/projects-item
                    img="04"
                    category="МАСТЕР-КЛАССЫ"
                    title="Мастер-класс «Искусство керамики» от члена Союза художников Василисы Портновой"
                }}
              </li>
            </ul>
          </div>
        {{/blocks/common/page-section}}
      </div>
      <div class="home-main__section-group">
        <div class="home-main__section">
          {{#>blocks/common/page-section title="Новости" action="новости" link="news.html"}}
            <div class="news-home">
              <ul class="news-home__list">
                <li class="news-home__item">
                  {{>widgets/news-card
                      img="01"
                      category="ВЫСТАВКИ"
                      title="Выставка Ханты-Мансийского отделения СХР – «Подарок Югре»"
                      time="4 декабря 2020"
                  }}
                </li>
                <li class="news-home__item">
                  {{>widgets/news-card
                      img="02"
                      category="НОВОСТИ"
                      title="На 88-м году ушел из жизни заслуженный художник России Геннадий Степанович Райшев"
                      time="9 ноября 2020"
                  }}
                </li>
                <li class="news-home__item">
                  {{>widgets/news-card
                      img="03"
                      category="ВЫСТАВКИ"
                      title="IV межрегиональная художественная выставка «УРАЛ, СИБИРЬ, ДАЛЬНИЙ ВОСТОК» (Челябинск)"
                      time="6 ноября 2020 г."
                  }}
                </li>
              </ul>
            </div>
          {{/blocks/common/page-section}}
        </div>
        <div class="home-main__section">
          {{#>blocks/common/page-section title="Объявления"}}
            <div class="home-announcements">
              <div class="home-announcements__content">
                <div class="home-announcements__item">
                  {{>widgets/announcements-item
                      time="16 ноября 2020 г."
                      title="Межрегиональная художественная выставка «ФОРМА 2.0. Декоративное искусство»."
                      text="В Новокузнецке проходит Межрегиональная художественная выставка «ФОРМА 2.0. Декоративное искусство». Среди участников – ханты-мансийские художники Лидия Антипова, Галина Визель, Василиса Портнова, Елизавета Рябцева и Евгений Шелепов."
                  }}
                </div>
                <div class="home-announcements__item">
                  {{>widgets/announcements-item
                      time="6 ноября 2020 г."
                      title="IV межрегиональная художественная выставка «УРАЛ, СИБИРЬ, ДАЛЬНИЙ ВОСТОК»"
                      text="В Челябинске проходит IV межрегиональная художественная выставка «УРАЛ, СИБИРЬ, ДАЛЬНИЙ ВОСТОК». Участие в выставке принимают и художники Югры, члены регионального отделения Союза художников России: Г.М. Визель, В.Н.Видинеев, В.В. Колов, О.А.Мерцалова, В.В.Портнова,  А.Н.Седов, С.Н.Устюжанин. Выставка продлится до 21 декабря"
                  }}
                </div>
                <div class="home-announcements__form">
                  <form>
                    <div class="form-subscribe">
                      {{#> ui/field label="Подпишитесь на рассылку объявлений:" id="email_an_01"}}
                        {{> ui/input id="email_an_01" placeholder="Ваш e-mail адрес" submit=1}}
                      {{/ui/field}}
                    </div>
                  </form>
                </div>
              </div>
            </div>
          {{/blocks/common/page-section}}
        </div>
      </div>
      <div class="home-main__section">
        {{#>blocks/common/page-section title="Наши партнеры"}}
          <div class="home-partners js-slider-partners">
            <div class="swiper-container js-slider-partners__slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="https://culture.gov.ru/">
                    {{>components/image img="home/partners/01" ext="jpg"}}
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="https://www.rah.ru/">
                    {{>components/image img="home/partners/02" ext="jpg"}}
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="https://depcultura.admhmao.ru/">
                    {{>components/image img="home/partners/03" ext="jpg"}}
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="http://ghm-hmao.ru/">
                    {{>components/image img="home/partners/04" ext="jpg"}}
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#">
                    {{>components/image img="home/partners/04" ext="jpg"}}
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#">
                    {{>components/image img="home/partners/04" ext="jpg"}}
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#">
                    {{>components/image img="home/partners/04" ext="jpg"}}
                  </a>
                </div>
              </div>
            </div>
            <div class="home-partners__nav">
              {{>components/slider-nav nav-mode="center" class="js-slider-partners"}}
            </div>
          </div>
        {{/blocks/common/page-section}}
      </div>
    </div>
  </div>
</div>
