{{#>blocks/common/page-single title="Заседание Совета при Президенте РФ по культуре и искусству" crumb-1="Новости" sidebar=1}}
  <div class="news-single">
    <div class="news-single__preview">
      {{>components/image img="static/01" ext="jpg"}}
    </div>
    <h2 class="news-single__title">Заседание Совета при Президенте РФ по культуре и искусству</h2>
    <div class="static">
      <p> 27 октября 2020 года В.В. Путин провел в режиме видеоконференции заседание Совета при Президенте РФ по
        культуре и искусству. В работе Совета принял участие председатель Союза художников России А.Н. Ковальчук.</p>
      <p> В.В. Путин: – Члены Совета, деятели культуры приняли в обсуждении конституционных поправок самое активное
        участие и, уверен, с готовностью присоединятся к парламентариям, которые уже работают над соответствующими
        законопроектами. В том числе четкое юридическое оформление должны получить такие понятия, как обязанность
        государства беречь, поддерживать и развивать культуру и самобытность народов России.</p>
      <p> В.В. Путин: – Члены Совета, деятели культуры приняли в обсуждении конституционных поправок самое активное
        участие и, уверен, с готовностью присоединятся к парламентариям, которые уже работают над соответствующими
        законопроектами. В том числе четкое юридическое оформление</p>
    </div>

    <div class="news-single__section">
      {{#>blocks/common/page-section title="Фотоматериалы"}}

      {{/blocks/common/page-section}}
    </div>
  </div>
  <div class="page-single__sidebar">
    {{>blocks/common/page-sidebar related=1 video=1 pubdate=1 views=1}}
  </div>
{{/blocks/common/page-single}}
