{{#>blocks/common/page-single title="Выставка регионального отделения ВТОО «Союз художников России» по Ханты-Мансийскому автономному округу – Югре" crumb-1="Новости" sidebar=1}}
  <div class="news-single">
    <div class="news-single__preview">
      {{>components/image img="home/hero/02" ext="jpg"}}
    </div>
    <div class="news-single__static static">
      <h2>ПОДАРОК ЮГРЕ. <br>
        Выставка регионального отделения ВТОО «Союз художников России» по Ханты-Мансийскому автономному округу – Югре</h2>
      <p>
        В декабре 2020 года в Государственном художественном музее Югры была
        открыта выставка произведений членов Ханты-Мансийского отделения Союза
        художников России, приуроченная к 90-летию округа и получившая название «Подарок
        Экспонируются живопись, графика, скульптура, объекты декоративно-прикладного
        искусства – как созданные за последний год, так и те, что хранятся в фондах
        Государственного художественного музея.
      </p>
      <p>
        Живопись представлена наиболее полно, и стилевой диапазон очень широк: от
        близких традициям реалистического искусства произведений Александра Александрова и
        Владимира Видинеева до более обобщенной живописи Владимира Колова и Сергея
        В состав выставки вошли предметы декоративно-прикладного искусства и
        скульптура малых форм таких известных художников как Галина Визель и Василиса.
      </p>
      <p>Особое место занимают произведения Заслуженного художника Российской
        Федерации Геннадия Райшева (1933-2020), обладавшего совершенно особенным взглядом
        на мир и собственной художественной системой. Его образный язык был тесно связан с
        обско-угорской мифологией. Геннадий Райшев говорил: «В мифологических образах мы
        ощущаем нечто, имеющее отношение к большому прошлому. И здесь образуется обратная
        связь. Я вижу этот прошлый мир и в то же время чувствую, что и он наблюдает за мной».</p>
      <p>Ханты-Мансийское отделение Союза художников и Государственный
        художественный музей связывают прочные партнерские отношения. С 2011 года залы
        музея и его филиалов являются площадками для представления творчества членов Союза
        на персональных и групповых выставках, которые составляют основу музейного цикла.</p>

      <h3>СПИСОК УЧАСТНИКОВ ВЫСТАВКИ <br> ВТОО «СОЮЗ ХУДОЖНИКОВ РОССИИ» <br> (в Государственном художественном музее)</h3>

      <ol>
        <li>Александров Александр Владимирович (Сургут)</li>
        <li>Бурова Ольга Алексеевна (Ханты-Мансийск)</li>
        <li>Визель Александр Георгиевич (Ханты-Мансийск)</li>
        <li>Визель Галина Михайловна (Ханты-Мансийск)</li>
        <li>Демьяненко Иван Владимирович (Нижневартовск)</li>
        <li>Зайнуллин Мунир Муталлапович (Нягань)</li>
        <li>Колов Владимир Валентинович (Ханты-Мансийск)</li>
        <li>Колова Лариса Борисовна (Ханты-Мансийск)</li>
        <li>Ливн Валентин Викторович (пос. Новоаганск)</li>
        <li>Манкевич Мария Николаевна (Ханты-Мансийск)</li>
        <li>Портнова Василиса Викторовна (Ханты-Мансийск)</li>
        <li>Рябцева Елизавета Михайловна (Ханты-Мансийск)</li>
        <li>Седов Александр Николаевич (Лангепас)</li>
        <li>Соколова Ирина Валентиновна (Ханты-Мансийск)</li>
        <li>Творжинская Марина Дмитриевна (Ханты-Мансийск)</li>
        <li>Устюжанин Николай Сергеевич (Ханты-Мансийск)</li>
        <li>Устюжанин Сергей Николаевич (Ханты-Мансийск)</li>
        <li>Шелепов Евгений Иванович (Ханты-Мансийск)</li>
        <li>Шойунчап Гульнара Рафиковна(Ханты-Мансийск)</li>
      </ol>

      <h3>СПИСОК УЧАСТНИКОВ ВИРТУАЛЬНОЙ ВЫСТАВКИ <br> ВТОО «СОЮЗ ХУДОЖНИКОВ РОССИИ»</h3>

      <ol>
        <li>Александров Александр Владимирович (Сургут)</li>
        <li>Белкина Ксения Владимировна (Ханты-Мансийск)</li>
        <li>Бубновене Ольга Дмитриевна(Ханты-Мансийск)</li>
        <li>Бурова Ольга Алексеевна (Ханты-Мансийск)</li>
        <li>Видинеев Владимир Николаевич (Нижневартовск)</li>
        <li>Визель Александр Георгиевич (Ханты-Мансийск)</li>
        <li>Визель Галина Михайловна (Ханты-Мансийск)</li>
        <li>Гайнанова Людмила Николаевна (Уфа)</li>
        <li>Демьяненко Иван Владимирович (Нижневартовск)</li>
        <li>Жеманская Наталья Александровна (Ханты-Мансийск)</li>
        <li>Лозовая Наталья Николаевна (Сургут)</li>
        <li>Лозовой Сергей Павлович (Сургут)</li>
        <li>Зайнуллин Мунир Муталлапович (Нягань)</li>
        <li>Колов Владимир Валентинович (Ханты-Мансийск)</li>
        <li>Колова Лариса Борисовна (Ханты-Мансийск)</li>
        <li>Ливн Валентин Викторович (пос. Новоаганск)</li>
        <li>Манкевич Мария Николаевна (Ханты-Мансийск)</li>
        <li>Медведев Сергей Геннадьевич (Нижневартовск)</li>
        <li>Медведева Олеся Анатольевна (Нижневартовск)</li>
        <li>Мерцалова Ольга Александровна (п. Хулимсунт)</li>
        <li>Портнова Василиса Викторовна (Ханты-Мансийск)</li>
        <li>Рябцева Елизавета Михайловна (Ханты-Мансийск)</li>
        <li>Седов Александр Николаевич (Лангепас)</li>
        <li>Седова Татьяна Викторовна (Лангепас)</li>
        <li>Соколова Ирина Валентиновна (Ханты-Мансийск)</li>
        <li>Сорокин Юрий (Лангепас)</li>
        <li>Творжинская Марина Дмитриевна (Ханты-Мансийск)</li>
        <li>Устюжанин Николай Сергеевич (Ханты-Мансийск)</li>
        <li>Устюжанин Сергей Николаевич (Ханты-Мансийск)</li>
        <li>Шелепов Евгений Иванович (Ханты-Мансийск)</li>
        <li>Шойунчап Гульнара Рафиковна(Ханты-Мансийск)</li>
      </ol>
    </div>
  </div>
  <div class="page-single__sidebar">
    {{>blocks/common/page-sidebar related=1 video-ex=1 pubdate=1 views=1}}
  </div>
{{/blocks/common/page-single}}
