{{#>blocks/common/page-single
    title="Заседание Совета при Президенте РФ по культуре и искусству"
    crumb-1="Новости"
    sidebar=1
    page-class="news-single"
}}
  <div class="news-single__container">
    <div class="news-single__preview">
      {{>components/image img="static/01" ext="jpg"}}
    </div>
    <div class="news-single__static static">
      <h2>Заседание Совета при Президенте РФ по культуре и искусству</h2>
      <p> 27 октября 2020 года В.В. Путин провел в режиме видеоконференции заседание Совета при Президенте РФ по
        культуре и искусству. В работе Совета принял участие председатель Союза художников России А.Н. Ковальчук.</p>
      <p> В.В. Путин: – Члены Совета, деятели культуры приняли в обсуждении конституционных поправок самое активное
        участие и, уверен, с готовностью присоединятся к парламентариям, которые уже работают над соответствующими
        законопроектами. В том числе четкое юридическое оформление должны получить такие понятия, как обязанность
        государства беречь, поддерживать и развивать культуру и самобытность народов России.</p>
      <p> В.В. Путин: – Члены Совета, деятели культуры приняли в обсуждении конституционных поправок самое активное
        участие и, уверен, с готовностью присоединятся к парламентариям, которые уже работают над соответствующими
        законопроектами. В том числе четкое юридическое оформление</p>
    </div>

    <div class="page-single__section">
      {{#>blocks/common/page-section section-title="Фотоматериалы" slider-class="js-slider-photos"}}
        <div class="slider-photos">
          <div class="swiper-container js-slider-photos__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                {{>widgets/photos-card
                    img="1"
                    caption="Визель Г. М. <b>Декоративное панно из серии: «Наследие Югры»</b>"
                }}
              </div>
              <div class="swiper-slide">
                {{>widgets/photos-card
                    img="2"
                    caption="Визель Г. М. <b>Декоративное панно из серии: «Наследие Югры»</b>"
                }}
              </div>
              <div class="swiper-slide">
                {{>widgets/photos-card
                    img="3"
                    caption="Визель Г. М. <b>Декоративное панно из серии: «Наследие Югры»</b>"
                }}
              </div>
              <div class="swiper-slide">
                {{>widgets/photos-card
                    img="4"
                    caption="Визель Г. М. <b>Декоративное панно из серии: «Наследие Югры»</b>"
                }}
              </div>
              <div class="swiper-slide">
                {{>widgets/photos-card
                    img="1"
                    caption="Визель Г. М. <b>Декоративное панно из серии: «Наследие Югры»</b>"
                }}
              </div>
            </div>
            <a class="slider-photos__counter js-slider-photos__counter" href="#">
              <div class="slider-photos__counter-inner">
                Всего <span class="js-slider-photos__counter-text"></span>&nbsp;фото
              </div>
            </a>
          </div>
        </div>
      {{/blocks/common/page-section}}
    </div>
  </div>
  <div class="page-single__sidebar">
    {{>blocks/common/page-sidebar related=1 video=1 pubdate=1 views=1}}
  </div>
{{/blocks/common/page-single}}
