{{#>blocks/common/page-single title="Новости" crumb-1="Новости" pagination=1}}
  <div class="news-page">
    <ul class="news-page__list">
      <li class="news-page__item">
        {{>widgets/news-card
            img="01"
            category="События"
            title="Выставка Ханты-Мансийского отделения СХР – «Подарок Югре»."
            time="4 декабря 2020"
        }}
      </li>
      <li class="news-page__item">
        {{>widgets/news-card
            img="news-02"
            category="ВЫСТАВКИ"
            title="Керамисты из Ханты-Мансийска Василиса Портнова и Гульнара Шойунчап приняли участие в выставке «Профессор и ученики» (Красноярск)."
            time="13 ноября 2020"
        }}
      </li>
      <li class="news-page__item">
        {{>widgets/news-card
            img="02"
            category="СОБЫТИЯ"
            title="На 88-м году ушел из жизни заслуженный художник России Геннадий Степанович Райшев"
            time="9 ноября 2020"
        }}
      </li>
      <li class="news-page__item">
        {{>widgets/news-card
            img="news-04"
            category="ВЫСТАВКИ"
            title="IV межрегиональная художественная выставка «УРАЛ, СИБИРЬ, ДАЛЬНИЙ ВОСТОК» (Челябинск)"
            time="6 ноября 2020 г."
        }}
      </li>
      <li class="news-page__item">
        {{>widgets/news-card
            img="news-ural"
            category="События"
            title="IV Всероссийский фестиваль графики «Урал-ГРАФО»"
            time="19 сентября 2020"
        }}
      </li>
      <li class="news-page__item">
        {{>widgets/news-card
            img="02"
            category="ЛЕКТОРИЙ"
            title="Конференция «Геннадий Райшев: Культурный ланшафт. Диалоги в пространстве и времени»"
            time="23 октября 2019"
        }}
      </li>
      <li class="news-page__item">
        {{>widgets/news-card
            img="10"
            category="События"
            title="РОССИЙСКАЯ НЕДЕЛЯ ИСКУССТВ. 1-6 НОЯБРЯ 2019"
            time="16 сентября 2019"
        }}
      </li>
      <li class="news-page__item">
        {{>widgets/news-card
            img="03"
            category="События"
            title="I ОТКРЫТАЯ БИЕННАЛЕ ИЗОБРАЗИТЕЛЬНОГО ИСКУССТВА «ART-ГРАД»"
            time="5 июля 2019"
        }}
      </li>
      <li class="news-page__item">
        {{>widgets/news-card
            img="09"
            category="События"
            title="ОКРУЖНАЯ ВЫСТАВКА «III ЭТНО-РАКУРС» В ГОРОДЕ ЛАНГЕПАСЕ"
            time="17 июня 2019"
        }}
      </li>
      <li class="news-page__item">
        {{>widgets/news-card
            img="news-art-planer"
            category="События"
            title="МЕЖДУНАРОДНЫЙ АРТ-ПЛЕНЭР В 2019 ГОДУ В ХАНТЫ-МАНСИЙСКОМ АВТОНОМНОМ ОКРУГЕ – ЮГРЕ"
            time="28 мая 2019"
        }}
      </li>
      <li class="news-page__item">
        {{>widgets/news-card
            img="08"
            category="События"
            title="МЕЖРЕГИОНАЛЬНАЯ ТРИЕННАЛЕ СОВРЕМЕННОГО ИЗОБРАЗИТЕЛЬНОГО ИСКУССТВА УРАЛА «ЛАБИРИНТ» (МАГНИТОГОРСК, 2019)"
            time="11 марта 2019"
        }}
      </li>
      <li class="news-page__item">
        {{>widgets/news-card
            img="07"
            category="События"
            title="ВЫСТАВКА АЛЕКСАНДРА СЕДОВА «ЦВЕТ И СВЕТ» В ГАЛЕРЕЕ «СТЕРХ» (СУРГУТ)"
            time="11 марта 2019"
        }}
      </li>
      <li class="news-page__item">
        {{>widgets/news-card
            img="06"
            category="События"
            title="ВЫСТАВКА К 80-ЛЕТИЮ ХУДОЖНИКА В.Н. ГОРДЫ (СУРГУТ)"
            time="11 марта 2019"
        }}
      </li>
      <li class="news-page__item">
        {{>widgets/news-card
            img="05"
            category="События"
            title="МЕЖРЕГИОНАЛЬНАЯ ХУДОЖЕСТВЕННАЯ ВЫСТАВКА «ФОРМА» (Г. НОВОКУЗНЕЦК) 20 АВГУСТА – 20 СЕНТЯБРЯ 2019 ГОДА"
            time="11 марта 2019"
        }}
      </li>
      <li class="news-page__item">
        {{>widgets/news-card
            img="04"
            category="События"
            title="ВЫСТАВКА «ВЕСЕННИЙ ВЕРНИСАЖ» В ДОМЕ-МУЗЕЕ В.А. ИГОШЕВА"
            time="22 фефраля 2019"
        }}
      </li>
      <li class="news-page__item">
        {{>widgets/news-card
            img="03"
            category="События"
            title="СОБРАНИЕ ХАНТЫ-МАНСИЙСКОГО ОТДЕЛЕНИЯ СХР СОСТОИТСЯ 8 ДЕКАБРЯ"
            time="7 декабря 2018"
        }}
      </li>
    </ul>
  </div>
{{/blocks/common/page-single}}
