{{#>blocks/common/page-single
    title="Плэнеры"
    crumb-1="О союзе"
    crumb-2="Фотогалерея"
    page-class="project-single"
}}
  <div class="project-single__container">
    <aside class="project-single__sidebar">
      <ul class="project-single__sidebar-list">
        <li class="project-single__sidebar-item">
          <a class="project-single__sidebar-link" href="#">Живопись</a></li>
        <li class="project-single__sidebar-item">
          <a class="project-single__sidebar-link" href="#">Графика</a></li>
        <li class="project-single__sidebar-item">
          <a class="project-single__sidebar-link project-single__sidebar-link--current" href="#">Скульптура</a></li>
        <li class="project-single__sidebar-item">
          <a class="project-single__sidebar-link" href="#">ДПИ</a>
          <ul class="project-single__sidebar-list project-single__sidebar-list--nested">
            <li class="project-single__sidebar-item">
              <a class="project-single__sidebar-link" href="#">Керамика</a></li>
            <li class="project-single__sidebar-item">
              <a class="project-single__sidebar-link" href="#">Текстиль</a></li>
            <li class="project-single__sidebar-item">
              <a class="project-single__sidebar-link" href="#">Дерево</a></li>
            <li class="project-single__sidebar-item">
              <a class="project-single__sidebar-link" href="#">Металл</a></li>
          </ul>
        </li>
      </ul>
    </aside>

    <div class="project-single__content">
      <div class="project-single__gallery">
        {{>widgets/gallery-item img="1" mode="project-single__gallery-item project-single__gallery-item--portrait" author="Творжинская М. Д." caption="Введение во храм"}}
        {{>widgets/gallery-item img="2" mode="project-single__gallery-item" author="Автор 1" caption="Описание работы"}}
        {{>widgets/gallery-item img="3" mode="project-single__gallery-item" author="Автор 2" caption="Описание работы с очень длинным текстом"}}
        {{>widgets/gallery-item img="4" mode="project-single__gallery-item project-single__gallery-item--portrait" author="Автор 3" caption="Описание работы"}}
        {{>widgets/gallery-item img="5" mode="project-single__gallery-item" author="Творжинская М. Д." caption="Введение во храм"}}
        {{>widgets/gallery-item img="6" mode="project-single__gallery-item" author="Творжинская М. Д." caption="Введение во храм"}}
      </div>

      <div class="project-single__pagination">
        {{>blocks/common/page-pagination}}
      </div>
    </div>
  </div>
{{/blocks/common/page-single}}
