{{#>blocks/common/page-single
    title="Ханты-Мансийского отделения "
    crumb-1="Выставки"
    crumb-2="Ханты-Мансийского отделения"
    pagination=1
    page-class="category-page"
    page-filters="years"
}}
  <div class="category-page__container">
    <div class="category-page__header">
      <h2 class="category-page__title">Ханты-Мансийского отделения</h2>
      <div class="static">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Elit ullamcorper dignissim cras tincidunt lobortis. Netus et malesuada fames ac turpis egestas.
          Sit amet venenatis urna cursus eget nunc. Duis ut diam quam nulla porttitor massa id. Vel quam elementum
          pulvinar etiam non quam. In metus vulputate eu scelerisque felis imperdiet proin fermentum leo. Aliquet sagittis
          id consectetur purus. Quis lectus nulla at volutpat diam ut venenatis tellus in. Nisi lacus sed viverra tellus
          in hac. Aliquet bibendum enim facilisis gravida neque convallis a cras. Sollicitudin ac orci phasellus egestas
          tellus rutrum tellus pellentesque.
        </p>
      </div>
    </div>

    <div class="page-single__section">
      {{#>blocks/common/page-section}}
        <ul class="category-page__list category-page__list--rows">
          <li class="category-page__item">
            {{>widgets/projects-card
                projects-img="01"
                projects-title="Межрегиональный пленэр «Югорская академичка»"
                projects-time="18 декабря 2020"
                projects-text="Бюджетное учреждение Ханты-Мансийского автономного округа-Югры «Государственный художественный музей» (г. Ханты-Мансийск) приглашает принять участие в Межрегиональном пленэре «Югорская академичка»."
            }}
          </li>
          <li class="category-page__item">
            {{>widgets/projects-card
                projects-img="02"
                projects-title="Межрегиональный пленэр «Югорская академичка»"
                projects-time="18 декабря 2020"
                projects-text="Бюджетное учреждение Ханты-Мансийского автономного округа-Югры «Государственный художественный музей» (г. Ханты-Мансийск) приглашает принять участие в Межрегиональном пленэре «Югорская академичка»."
            }}
          </li>
          <li class="category-page__item">
            {{>widgets/projects-card
                projects-img="01"
                projects-title="Межрегиональный пленэр «Югорская академичка»"
                projects-time="18 декабря 2020"
                projects-text="Бюджетное учреждение Ханты-Мансийского автономного округа-Югры «Государственный художественный музей» (г. Ханты-Мансийск) приглашает принять участие в Межрегиональном пленэре «Югорская академичка»."
            }}
          </li>
        </ul>
      {{/blocks/common/page-section}}
    </div>
  </div>
{{/blocks/common/page-single}}
