{{#>blocks/common/page-single title="Выставки" crumb-1="Наши проекты" page-class="projects-main"}}
  <div class="projects-main__container">
    <div class="projects-main__description">
      <div class="static">
        <h2>Наши проекты</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Elit ullamcorper dignissim cras tincidunt lobortis. Netus et malesuada fames ac turpis egestas.
          Sit amet venenatis urna cursus eget nunc. Duis ut diam quam nulla porttitor massa id. Vel quam elementum
          pulvinar etiam non quam. In metus vulputate eu scelerisque felis imperdiet proin fermentum leo. Aliquet
          sagittis id consectetur purus. Quis lectus nulla at volutpat diam ut venenatis tellus in. Nisi lacus sed
          viverra tellus in hac. Aliquet bibendum enim facilisis gravida neque convallis a cras. Sollicitudin ac orci
          phasellus egestas tellus rutrum tellus pellentesque.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Elit ullamcorper dignissim cras tincidunt lobortis. Netus et malesuada fames ac turpis egestas.
          Sit amet venenatis urna cursus eget nunc. Duis ut diam quam nulla porttitor massa id.
        </p>
      </div>
    </div>
    <ul class="projects-main__list">
      <li class="projects-main__item">
        {{>widgets/category-card
            img="projects/main/01"
            title="Акции"
        }}
      </li>
      <li class="projects-main__item">
        {{>widgets/category-card
            img="projects/main/02"
            title="Культурно-просветительская деятельность"
        }}
      </li>
      <li class="projects-main__item">
        {{>widgets/category-card
            img="projects/main/03"
            title="Пленэры"
        }}
      </li>
      <li class="projects-main__item">
        {{>widgets/category-card
            img="projects/main/04"
            title="Издания"
        }}
      </li>
    </ul>
  </div>
{{/blocks/common/page-single}}
