.header {
  &__grid {
    display: grid;

    @include media(tablet, up) {
      grid-template-areas: 'logo top' 'logo nav';
      grid-template-columns: minmax(auto, 220px + 155px) 1fr;
      grid-gap: 10px 0;
      padding: 38px 0 0;
    }

    @include media(tablet) {
      grid-template-areas: 'logo top nav';
      grid-template-columns: min-content minmax(auto, 300px) 1fr;
      grid-gap: 30px;
      padding: 16px 0 20px;
      align-items: center;
    }

    @include media(mobile) {
      grid-gap: 0;
    }
  }

  &__logo {
    grid-area: logo;

    @include media(mobileSmall) {
      .icon {
        width: 55px;
        height: 49px;
      }
    }
  }

  &__top {
    grid-area: top;

    @include media(tablet, up) {
      margin-top: 20px;
    }

    @include media(tablet, only) {
      margin-top: 7px;
    }

    @include media(mobile) {
      margin-left: 30px;
    }

    @include media(mobileSmall) {
      margin-left: 10px;
    }
  }

  &__top-title {
    display: block;
    margin: 0;
    color: rgba(118, 118, 118, 0.87);
    @include rodchenko;
    font-weight: 400;

    @include media(tablet, up) {
      font-size: 32px;
      line-height: 1;
    }

    @include media(tablet) {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &__nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-self: flex-end;

    > * + * {
      margin-left: 54px;

      @include media(tablet) {
        margin-left: 24px;
      }
    }
  }

  &__menu {
    @include media(tablet) {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 1;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transition: opacity 350ms ease-in-out;
    }

    &.mobile-opened {
      @include media(tablet) {
        visibility: visible;
        opacity: initial;
        pointer-events: auto;
      }
    }
  }

  &__search {
    @include media(mobile) {
      margin-left: 0;
    }
  }

  &__burger-btn {
    width: 24px;
    height: 24px;
    position: relative;
    transition-duration: 1s;
    cursor: pointer;

    &:hover {
      span, span:before, span:after {
        background-color: rgba(0, 0, 0, 0.75);
      }
    }

    span {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      width: 24px;
      height: 2px;
      background-color: rgba(0, 0, 0, 0.54);
      transition-duration: .25s;
      transition-delay: .25s;
      transition: all 0.25s 0.25s, background-color 0.3s ease-in-out;

      &::before,
      &::after {
        position: absolute;
        left: 0;
        content: "";
        width: 24px;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.54);
        transition: transform .25s, top .25s .25s, background-color 0.3s ease-in-out;
        transition-duration: .25s;
      }

      &::before {
        top: -6px;
      }

      &::after {
        top: 6px;
      }
    }

    &.opened {
      span {
        transition-duration: 0.1s;
        transition-delay: .25s;
        background: transparent;

        &::before {
          transition: top .25s, transform .25s .25s, background-color 0.3s ease-in-out;
          top: 0;
          transform: rotateZ(-45deg);
        }

        &::after {
          transition: top 0.4s, transform .25s .25s, background-color 0.3s ease-in-out;
          top: 0;
          transform: rotateZ(45deg);
        }
      }
    }
  }
}

.header.fixed-prepare {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: z(header);
  margin-top: -81px;
  background-color: $color-white;
  transition: all 450ms ease-in-out;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);

  @include media(tablet, only) {
    margin-top: -100px;
  }

  @include media(mobile) {
    margin-top: -70px;
  }

  .header__grid {
    grid-template-areas: 'logo nav';
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 0;

    @include media(tablet, only) {
      padding: 25px 0;
    }

    @include media(mobile) {
      padding: 11px 0 10px;
    }
  }

  .header__top {
    display: none;
  }

  .page-logo .icon {
    width: 66px;
    height: 49px;
  }

  &.fixed {
    margin-top: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }
}
