.slider-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__btn {
    &--prev {
      &::before {
        content: '';
        @include sprite('slider-prev')
      }
    }

    &--next {
      &::before {
        content: '';
        @include sprite('slider-next')
      }
    }
  }
}
