.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-arrow-bold-l {
  width: 51px;
  height: 16px;
}
.icon-arrow-bold-r {
  width: 51px;
  height: 16px;
}
.icon-chevron-right {
  width: 24px;
  height: 24px;
}
.icon-fb {
  width: 32px;
  height: 32px;
}
.icon-location {
  width: 16px;
  height: 16px;
}
.icon-logo {
  width: 155px;
  height: 140px;
}
.icon-logo-white {
  width: 115px;
  height: 105px;
}
.icon-mail {
  width: 16px;
  height: 11px;
}
.icon-phone {
  width: 16px;
  height: 16px;
}
.icon-popup-close {
  width: 26px;
  height: 26px;
}
.icon-search {
  width: 20px;
  height: 20px;
}
.icon-tw {
  width: 32px;
  height: 32px;
}
.icon-vk {
  width: 32px;
  height: 32px;
}
