$icons: (sprite: (width: 1037px, height: 856px, pngPath: '../assets/images/sprite.png', svgPath: '../assets/images/sprite.svg'),
cross: (width: 16px, height: 16px, backgroundX: 0px, backgroundY: 0px),
date: (width: 22px, height: 22px, backgroundX: -16px, backgroundY: -16px),
download: (width: 23px, height: 20px, backgroundX: -38px, backgroundY: -38px),
eye: (width: 32px, height: 18px, backgroundX: -61px, backgroundY: -58px),
file: (width: 22px, height: 22px, backgroundX: -93px, backgroundY: -76px),
form-checkbox-tick: (width: 16px, height: 12px, backgroundX: -115px, backgroundY: -98px),
global: (width: 23px, height: 22px, backgroundX: -131px, backgroundY: -110px),
icon-doc: (width: 40px, height: 40px, backgroundX: -154px, backgroundY: -132px),
icon-pdf: (width: 40px, height: 40px, backgroundX: -194px, backgroundY: -172px),
icon-png: (width: 40px, height: 40px, backgroundX: -234px, backgroundY: -212px),
icon-rar: (width: 40px, height: 40px, backgroundX: -274px, backgroundY: -252px),
icon-txt: (width: 40px, height: 40px, backgroundX: -314px, backgroundY: -292px),
icon-zip: (width: 40px, height: 40px, backgroundX: -354px, backgroundY: -332px),
input-date: (width: 18px, height: 20px, backgroundX: -394px, backgroundY: -372px),
location: (width: 13px, height: 20px, backgroundX: -412px, backgroundY: -392px),
mail: (width: 21px, height: 14px, backgroundX: -425px, backgroundY: -412px),
palette: (width: 20px, height: 18px, backgroundX: -446px, backgroundY: -426px),
phone: (width: 21px, height: 22px, backgroundX: -466px, backgroundY: -444px),
popup-close: (width: 26px, height: 26px, backgroundX: -487px, backgroundY: -466px),
select2-arrow: (width: 16px, height: 16px, backgroundX: -513px, backgroundY: -492px),
select2-arrow-active: (width: 16px, height: 16px, backgroundX: -529px, backgroundY: -508px),
slick-left: (width: 51px, height: 16px, backgroundX: -545px, backgroundY: -524px),
slick-left-dark: (width: 51px, height: 16px, backgroundX: -596px, backgroundY: -540px),
slick-right: (width: 51px, height: 16px, backgroundX: -647px, backgroundY: -556px),
slick-right-dark: (width: 51px, height: 16px, backgroundX: -698px, backgroundY: -572px),
slider-next: (width: 48px, height: 48px, backgroundX: -749px, backgroundY: -588px),
slider-next-primary: (width: 48px, height: 48px, backgroundX: -797px, backgroundY: -636px),
slider-prev: (width: 48px, height: 48px, backgroundX: -845px, backgroundY: -684px),
slider-prev-primary: (width: 48px, height: 48px, backgroundX: -893px, backgroundY: -732px),
time: (width: 22px, height: 22px, backgroundX: -941px, backgroundY: -780px),
video: (width: 20px, height: 16px, backgroundX: -963px, backgroundY: -802px),
views: (width: 22px, height: 13px, backgroundX: -983px, backgroundY: -818px),
youtube: (width: 32px, height: 25px, backgroundX: -1005px, backgroundY: -831px),
);
