$icons: (sprite: (width: 797px, height: 616px, pngPath: '../assets/images/sprite.png', svgPath: '../assets/images/sprite.svg'),
cross: (width: 16px, height: 16px, backgroundX: 0px, backgroundY: 0px),
date: (width: 22px, height: 22px, backgroundX: -16px, backgroundY: -16px),
download: (width: 23px, height: 20px, backgroundX: -38px, backgroundY: -38px),
eye: (width: 32px, height: 18px, backgroundX: -61px, backgroundY: -58px),
file: (width: 22px, height: 22px, backgroundX: -93px, backgroundY: -76px),
form-checkbox-tick: (width: 16px, height: 12px, backgroundX: -115px, backgroundY: -98px),
global: (width: 23px, height: 22px, backgroundX: -131px, backgroundY: -110px),
input-date: (width: 18px, height: 20px, backgroundX: -154px, backgroundY: -132px),
location: (width: 13px, height: 20px, backgroundX: -172px, backgroundY: -152px),
mail: (width: 21px, height: 14px, backgroundX: -185px, backgroundY: -172px),
palette: (width: 20px, height: 18px, backgroundX: -206px, backgroundY: -186px),
phone: (width: 21px, height: 22px, backgroundX: -226px, backgroundY: -204px),
popup-close: (width: 26px, height: 26px, backgroundX: -247px, backgroundY: -226px),
select2-arrow: (width: 16px, height: 16px, backgroundX: -273px, backgroundY: -252px),
select2-arrow-active: (width: 16px, height: 16px, backgroundX: -289px, backgroundY: -268px),
slick-left: (width: 51px, height: 16px, backgroundX: -305px, backgroundY: -284px),
slick-left-dark: (width: 51px, height: 16px, backgroundX: -356px, backgroundY: -300px),
slick-right: (width: 51px, height: 16px, backgroundX: -407px, backgroundY: -316px),
slick-right-dark: (width: 51px, height: 16px, backgroundX: -458px, backgroundY: -332px),
slider-next: (width: 48px, height: 48px, backgroundX: -509px, backgroundY: -348px),
slider-next-primary: (width: 48px, height: 48px, backgroundX: -557px, backgroundY: -396px),
slider-prev: (width: 48px, height: 48px, backgroundX: -605px, backgroundY: -444px),
slider-prev-primary: (width: 48px, height: 48px, backgroundX: -653px, backgroundY: -492px),
time: (width: 22px, height: 22px, backgroundX: -701px, backgroundY: -540px),
video: (width: 20px, height: 16px, backgroundX: -723px, backgroundY: -562px),
views: (width: 22px, height: 13px, backgroundX: -743px, backgroundY: -578px),
youtube: (width: 32px, height: 25px, backgroundX: -765px, backgroundY: -591px),
);
