$icons: (sprite: (width: 204px, height: 168px, pngPath: '../assets/images/sprite.png', svgPath: '../assets/images/sprite.svg'),
date: (width: 22px, height: 22px, backgroundX: 0px, backgroundY: 0px),
eye: (width: 32px, height: 18px, backgroundX: -22px, backgroundY: -22px),
form-checkbox-tick: (width: 16px, height: 12px, backgroundX: -54px, backgroundY: -40px),
input-date: (width: 18px, height: 20px, backgroundX: -70px, backgroundY: -52px),
mail: (width: 21px, height: 14px, backgroundX: -88px, backgroundY: -72px),
phone: (width: 21px, height: 22px, backgroundX: -109px, backgroundY: -86px),
popup-close: (width: 26px, height: 26px, backgroundX: -130px, backgroundY: -108px),
select2-arrow: (width: 14px, height: 9px, backgroundX: -156px, backgroundY: -134px),
select2-arrow-active: (width: 14px, height: 9px, backgroundX: -170px, backgroundY: -143px),
video: (width: 20px, height: 16px, backgroundX: -184px, backgroundY: -152px),
);
